<template>

  <loading v-if="loading" />

  <div class="row" v-else>

  <div class="col-md-6 mb-3">
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search Members">
      </div>
    </div>

    <div class="col-md-6 mb-3 text-right">
      <a href="#" class="btn bg-primary-color2 text-white"><i class="fa fa-user-plus mr-2"></i> Invite a Member</a> 
    </div>
     
    <div class="col-lg-6 col-sm-6" v-for="row in users">
      <div class="card hover-shadow-lg">
        <div class="card-body text-center">
          
          <div class="avatar-parent-child">
            <img alt="Image placeholder" :src="row.photo_url" class="avatar  rounded-circle avatar-lg">
            <span class="avatar-child avatar-badge bg-success" data-toggle="tooltip" data-placement="top" title="Active"></span>
          </div>
          <span class="badge badge-success team-lead" v-if="row.checkin_status == 'checked in'">Currently Checked-In</span>
          <span class="badge badge-danger team-lead" v-else>Currently Checked-Out</span>
          <h5 class="h6 mt-4 mb-0">{{row.name}}</h5>
          <a href="#" class="d-block text-sm text-muted mb-3">Role in Team: {{row.occupation ? row.occupation : '--'}}</a>
          <div class="actions d-flex justify-content-center px-4">
            <ul>
              <li><span class="damier-color">Last Check-In:</span> {{row.attendance ? row.attendance.start_at : 'Never Checked In'}}</li>
              <li><span class="damier-color">Space:</span> {{row.attendance ? row.attendance.space.name : 'Never Checked In'}}</li>
            </ul>
          </div>
        </div>
        <div class="card-body border-top text-center">
          <span class="badge bg-primary-color2 text-white">Slots Left: {{row.slots_left}}</span>
        </div>
        <div class="card-footer">
          <div class="actions d-flex justify-content-between">
            <nuxt-link :to="`/team/users/${row.id}/profile`" class="action-item">
              <span class="btn-inner--icon"><i class="fa fa-user mr-2"></i> View Profile</span>
            </nuxt-link>
            <nuxt-link :to="`/team/users/${row.id}/slots`" class="action-item">
              <span class="btn-inner--icon"><i class="fa fa-file-export mr-2"></i> Manage Slots</span>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>

<script>

  import { mapMutations } from 'vuex';
  import { _error } from '~/plugins/helper';

  export default {

    layout: 'user',

    data(){

      return {

        loading: true,
        users: []
      }
    },

    async mounted(){

      try{

        this.updateApp({ active: 'users', title: 'Team Members', 'description': 'Team Members', button: 'Invite Team Member', button_url: '/team/users/0' });

        let response = await this.$axios.$get('/team/users');

        this.users = response.data;
        this.loading = false;

      }catch(ex){

        this.$swal.fire(_error(ex, true));
        this.loading = false;
      }
    },

    methods: {

      ...mapMutations({updateApp : 'app/updateApp'}),
    }
  }

</script>
