<template>
  <div class="card">
    <div class="card-header actions-toolbar border-0">
      <loading v-if="loading" />

      <div class="row justify-content-between align-items-center" v-else>
        <div class="col">
          <div>
            <form>
              <div class="form-group">
                <label class="form-control-label">Location Name:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="e.g: Victoria Island Location"
                  v-model="name"
                  :disabled="loading"
                />
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">State: *</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="e.g: Lagos"
                      v-model="state"
                      :disabled="loading"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">City: *</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="e.g: Victoria Island"
                      v-model="city"
                      :disabled="loading"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label">Location Address:</label>
                <textarea
                  class="form-control"
                  rows="3"
                  placeholder="e.g: 123, Lagos Street, Lagos, Nigeria"
                  v-model="address"
                  :disabled="loading"
                ></textarea>
              </div>

              <div class="form-group">
                <label class="form-control-label">Open on Weekends:</label>
                <select v-model="weekends" class="form-control" required>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-control-label"
                  >Upload a Photo of The Building</label
                ><br />
                <button
                  type="button"
                  class="btn btn-outline"
                  @click="upload"
                  v-if="photo_url.length < 1"
                  :disabled="uploading"
                >
                  <span><i class="fa fa-image"></i> {{ upload_text }}</span>
                </button>

                <button
                  type="button"
                  class="btn btn-outline"
                  @click="upload"
                  v-if="photo_url.length > 1"
                  :disabled="uploading"
                >
                  <span>Change File</span></button
                ><br />

                <code v-if="photo_url.length > 0"
                  >(<a :href="photo_url" target="_blank">{{ photo_url }}</a
                  >)</code
                >
              </div>

              <div class="form-group">
                <label class="form-control-label">Status: *</label>
                <select v-model="weekends" class="form-control" required>
                  <option value="yes">Active</option>
                  <option value="no">Inactive</option>
                </select>
              </div>

              <button
                type="button"
                class="btn btn-fill w-100"
                v-on:click="submit"
                :disabled="loading"
              >
                {{ id > 0 ? "Update" : "Add" }} Location
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error, _cloudinary_settings } from "~/plugins/helper";

export default {
  layout: "user",

  head: {
    script: [{ src: "https://widget.cloudinary.com/v2.0/global/all.js" }],
  },

  data() {
    return {
      loading: true,
      id: 0,
      name: "",
      weekends: "yes",
      address: "",
      photo_url: "",
      state: "",
      city: "",
      upload_text: "Upload Image",
      uploading: false,
    };
  },

  async mounted() {
    this.updateApp({
      active: "locations",
      title: "Locations",
      description: "Add new Location",
      button: null,
      button_url: null,
    });

    try {
      let response = await this.$axios.$get(
        `/host/location/${this.$route.params.id}`
      );

      if (response.status == "Successful") {
        let location = response.data;

        this.id = location.id;
        this.name = location.name;
        this.address = location.address;
        this.photo_url = location.photo_url;
        this.weekends = location.weekends;
        this.state = location.state;
        this.city = location.city;
      }

      this.loading = false;
    } catch (ex) {
      this.loading = false;

      this.$swal.fire(_error(ex, true));
    }
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),

    async submit() {
      try {
        let response = await this.$axios.$post("/host/location", this.$data);

        this.$swal.fire({
          type: "success",
          title: "Successful",
          text: response.message,
        });

        this.$router.push("/host/locations/");
        this.loading = false;
      } catch (ex) {
        this.loading = false;

        this.$swal.fire(_error(ex, true));
      }
    },

    async upload() {
      this.upload_text = "Loading...";
      this.uploading = true;

      const widget = cloudinary.createUploadWidget(
        { ..._cloudinary_settings },
        async (error, result) => {
          if (!error && result && result.event === "success")
            this.photo_url = result.info.secure_url;

          this.uploading = false;
        }
      );

      widget.open();
    },
  },
};
</script>