<template>
  <div class="card">
    <loading v-if="loading" />

    <div class="card-header actions-toolbar border-0" v-if="!loading">
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <h6 class="d-inline-block mb-0">
            Locations ({{ locations.length }})
          </h6>
        </div>
      </div>
    </div>

    <div v-if="!loading">
      <div class="row" v-if="locations.length < 1">
        <div class="add-location">
          <ul>
            <li>
              <i class="fas fa-list-alt fa-2x"></i>
            </li>
            <li class="mt-3">
              <p>
                you will be able to manage all your locations from here. Click
                on Add new location above to get started.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <table class="table align-items-center table-responsive" v-else>
        <thead>
          <tr>
            <th scope="col">THUMB</th>
            <th scope="col">NAME</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">STATE *</th>
            <th scope="col">CITY *</th>
            <th scope="col">SPACES</th>
            <th scope="col">STATUS</th>
            <th scope="col">OPEN ON WEEKENDS</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in locations" :key="row.id">
            <td scope="row">
              <div class="media align-items-center">
                <div>
                  <div class="avatar-parent-child">
                    <img
                      alt="Image placeholder"
                      :src="row.photo_url"
                      class="avatar rounded-circle"
                    />
                  </div>
                </div>
              </div>
            </td>
            <td>{{ row.name }}</td>
            <td>{{ row.address }}</td>
            <td>{{ row.state }}</td>
            <td>{{ row.city }}</td>
            <td>{{ row.spaces_count }}</td>
            <td>
              <span class="badge bg-primary text-white">{{
                row.status.toUpperCase()
              }}</span>
            </td>
            <td>
              <span class="badge bg-primary text-white">{{
                row.weekends.toUpperCase()
              }}</span>
            </td>
            <td class="text-right">
              <div class="actions ml-3">
                <nuxt-link
                  :to="'/host/locations/' + row.id"
                  class="action-item mr-2"
                >
                  <i class="fa fa-pencil-alt"></i> Edit
                </nuxt-link>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error } from "~/plugins/helper";

export default {
  layout: "user",

  data() {
    return {
      loading: true,
      locations: [],
    };
  },

  async mounted() {
    try {
      this.updateApp({
        active: "locations",
        title: "Locations",
        description: "Manage your locations",
        button: "Add a New Location",
        button_url: "/host/locations/0",
      });

      let response = await this.$axios.$get("/host/locations");

      this.locations = response.data;
      this.loading = false;
    } catch (error) {
      this.$swal.fire(_error(ex, true));
      this.loading = false;
    }
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),
  },
};
</script>