<template>
    <div class="card">
        <div class="card-body">

            <loading v-if="loading" />

            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" v-if="!loading">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Active Checkins({{active.length}})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="attendances-tab" data-toggle="tab" href="#attendances" role="tab" aria-controls="profile" aria-selected="false">All CheckIns({{attendances.length}})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reservations({{reservations.length}})</a>
                </li>
            </ul>

            <div class="tab-content" id="default-tab" v-if="!loading">



                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" placeholder="Search Attendance..." aria-label="Username" aria-describedby="addon-wrapping" v-model="active_query">
                        <div class="input-group-append">
                            <span class="input-group-text search" id="addon-wrapping"><i class="fas fa-search"></i></span>
                        </div>
                    </div>

                    <div class="row" v-if="active.length < 1 && active_query.length == 0">

                        <div class="add-location">
                            <ul>
                                <li>
                                    <i class="fas fa-list-alt fa-2x"></i>
                                </li>
                                <li  class="mt-3">
                                    <p>Details of checked-in users will show up here. you will be able to check them out. For now, you have no active check ins.</p>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <table class="table table-responsive" v-else>
                        <thead>
                            <tr>
                                <th>LOGIN CODE</th>
                                <th>SPACE</th>
                                <th>USER</th>
                                <th>CHECK-IN</th>
                                <th>CHECK-OUT</th>
                                <th>ACTION</th>
                                <th>TIME LEFT</th>
                                <th>SETTLEMENT</th>
                                <th>SETTLEMENT STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, index) in searchAttendances(active, active_query)" :key="row.id">
                                <td>{{row.reference}}</td>
                                <td>{{row.space}}</td>
                                <td>{{row.user}}</td>
                                <td>{{row.start_at}}</td>
                                <td>{{row.end_at}}</td>
                                <td><a href="javascript:;" v-on:click="approveCheckout(row)">Checkout</a></td>
                                <td>{{row.time_left}}</td>
                                <td>{{row.settlement}}</td>
                                <td>{{row.settlement_status}}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>


                <div class="tab-pane fade" id="attendances" role="tabpanel" aria-labelledby="attendances-tab">
                    
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" placeholder="Search Attendance..." aria-label="Username" aria-describedby="addon-wrapping" v-model="attendance_query">
                        <div class="input-group-append">
                            <span class="input-group-text search" id="addon-wrapping"><i class="fas fa-search"></i></span>
                        </div>
                    </div>

                    <div class="row" v-if="attendances.length < 1 && attendance_query.length == 0">

                        <div class="add-location">
                            <ul>
                                <li>
                                    <i class="fas fa-list-alt fa-2x"></i>
                                </li>
                                <li  class="mt-3">
                                    <p>Details of all checked-ins and outs will show up here. For now, you have no active check ins.</p>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <table class="table table-responsive" v-else>
                        <thead>
                            <tr>
                                <th>LOGIN CODE</th>
                                <th>SPACE</th>
                                <th>USER</th>
                                <th>CHECK-IN</th>
                                <th>CHECK-OUT</th>
                                <th>TIME LEFT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, index) in searchAttendances(attendances, attendance_query)" :key="row.id">
                                <td>{{row.reference}}</td>
                                <td>{{row.space}}</td>
                                <td>{{row.user}}</td>
                                <td>{{row.start_at}}</td>
                                <td>{{row.end_at}}</td>
                                <td>{{row.time_left}}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="input-group flex-nowrap">
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" placeholder="Search Resrvation..." aria-label="Username" aria-describedby="addon-wrapping" v-model="reservation_query">
                            <div class="input-group-append">
                                <span class="input-group-text search" id="addon-wrapping"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row" v-if="reservations.length < 1 && reservation_query.length == 0">

                        <div class="add-location">
                            <ul>
                                <li>
                                    <i class="fas fa-list-alt fa-2x"></i>
                                </li>
                                <li  class="mt-3">
                                    <p>When users reserve spaces, these reservations will show up here. for now there are no reservations.</p>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <table class="table table-responsive" v-else>
                        <thead>
                            <tr>
                                <th>SPACE RESERVED AT</th>
                                <th>RESERVED AT</th>
                                <th>USER</th>
                                <th>LOCATION</th>
                                <th>TIME LEFT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, index) in searchReservations(reservations, reservation_query)" :key="row.id">
                                <td>{{row.space}}</td>
                                <td>{{row.reserved_at}}</td>
                                <td>{{row.user}}</td>
                                <td>{{row.address}}</td>
                                <td>{{row.start_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';

    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                active: [],
                attendances: [],
                reservations: [],
                active_query: '',
                attendance_query: '',
                reservation_query: ''
            }
        },
        
        async mounted(){

            try{

                this.updateApp({ active: 'attendance', title: 'Attendances', 'description': 'Active Check Ins', button: null });

                let response = await this.$axios.$get('/host/attendances');

                this.active = response.data.active;
                this.attendances = response.data.all;

                response = await this.$axios.$get('/host/reservations');

                this.reservations = response.data;
                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),

            searchAttendances(attendances, query){

                query = query.toLowerCase();

                if(query.length < 3)
                    return attendances;

                return attendances.filter(row => {

                    return row.reference.toLowerCase().includes(query)
                    || row.space.toLowerCase().includes(query)
                    || row.user.toLowerCase().includes(query)
                    || row.status.toLowerCase().includes(query)
                })
            },

            searchReservations(reservations, query){

                query = query.toLowerCase();

                if(query.length < 3)
                    return reservations;

                return reservations.filter(row => {

                    return row.space.toLowerCase().includes(query)
                    || row.user.toLowerCase().includes(query)
                })
            },

            async approveCheckout(attendance){

                this.$swal.fire({

                    title: `Are you sure you want to check out ${attendance.user} ?`,
                    text: 'You would not be able to revert this operation.',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: `Yes`

                }).then((result) => {

                    if (result.value) {

                        this.checkOut(attendance.id);
                    }

                })
            },

            async checkOut(id){

                try{

                    let response = await this.$axios.$get(`host/attendance/check-out/${id}`);

                    if(response.status == 'Successful'){

                        this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });

                    }else{

                        this.$swal.fire(_error(response, true));
                    }

                    response = await this.$axios.$get('/host/attendances');

                    this.active = response.data.active;
                    this.attendances = response.data.all;

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                }
            }

        }
    }

</script>