<template>
  <div class="card">
    <div class="card-body">
      <loading v-if="loading" />

      <nuxt-link to="/host/locations/0" class="btn btn-primary">
        <i class="fas fa-map-pin"></i> Add New Location
      </nuxt-link>
      <nuxt-link to="/host/spaces/0" class="btn btn-primary">
        <i class="fas fa-home"></i> Add New Space
      </nuxt-link>
      <button
        type="button"
        v-on:click="checkin"
        class="btn btn-primary bg-primary-color2"
      >
        <i class="fas fa-user-plus"></i> Check-In a User
      </button>

      <div class="row" v-if="!loading">
        <div class="col">
          <div class="text-center active-check-in">
            <p>{{ dashboard.active_attendances }}</p>
            <span>Active Check-ins</span>
          </div>
        </div>
        <div class="col">
          <div class="text-center active-check-in">
            <p>{{ dashboard.spaces }}</p>
            <span>Spaces</span>
          </div>
        </div>
        <div class="col">
          <div class="text-center active-check-in">
            <p>{{ dashboard.locations }}</p>
            <span>Locations</span>
          </div>
        </div>
      </div>
      <div class="row" v-if="!loading">
        <div class="col">
          <div class="text-center active-check-in">
            <p>{{ dashboard.reservations }}</p>
            <span>Active Reservations</span>
          </div>
        </div>
        <div class="col">
          <div class="text-center active-check-in">
            <p>{{ dashboard.reviews }}</p>
            <span>Reviews</span>
          </div>
        </div>
        <div class="col">
          <div class="text-center active-check-in">
            <p>{{ dashboard.settlement }}</p>
            <span>Pending Settlement</span>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <div class="text-center">
          <h5>CURRENT ACTIVITIES</h5>
        </div>
        <ul
          class="nav nav-tabs justify-content-center"
          id="myTab"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >Active Check-In (10)</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Reservations (15)</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="table-responsive">
              <table class="table mt-4">
                <thead class="thead-primary">
                  <tr>
                    <th>SPACE</th>
                    <th>USER</th>
                    <th>CHECK-IN DATE/TIME</th>
                    <th>TIME LEFT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dedicated Desk</td>
                    <td>Bosun Jones (Personal)</td>
                    <td>July 20, 2021 - 10:00am</td>
                    <td>08 Hour(s) 00 Min(s) Used</td>
                    <td>
                      <a href="#">Details <i class="fas fa-arrow-right"></i></a>
                      <span class="px-3">|</span>
                      <a href="#">Check-Out <i class="fas fa-power-off"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="no-activity p-5">
                <img src="/img/no-activity.svg" />
                <p class="mt-2">Nothing is going on here.</p>
              </div>
            </div>
            <div class="text-center mt-4">
              <button type="button" class="btn btn-primary">
                View All Attendance <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="table-responsive">
              <table class="table mt-4">
                <thead class="thead-primary">
                  <tr>
                    <th>SPACE</th>
                    <th>USER</th>
                    <th>RESERVATION STARTED</th>
                    <th>RESERVATION ENDING</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dedicated Desk</td>
                    <td>Bosun Jones (Personal)</td>
                    <td>July 20, 2021 - 10:00am</td>
                    <td>July 20, 2021 - 10:30am</td>
                    <td>
                      <a href="#">Details <i class="fas fa-arrow-right"></i></a>
                      <span class="px-3">|</span>
                      <a href="#">Check-Out <i class="fas fa-power-off"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="no-activity p-5">
                <img src="/img/no-activity.svg" />
                <p class="mt-2">Nothing is going on here.</p>
              </div>
            </div>
            <div class="text-center mt-4">
              <button type="button" class="btn btn-primary">
                View All Attendance <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" v-if="!loading">
        <div class="add-location">
          <ul>
            <li>
              <i class="fas fa-user-circle fa-2x"></i>
            </li>
            <li>
              <p>Attendance Management</p>
            </li>
            <li>
              <button type="button" class="btn btn-fill">
                Check-in a User
              </button>
              <button type="button" class="btn btn-fill" v-on:click="checkout">
                Check-Out a User
              </button>
            </li>
          </ul>
        </div>
      </div>

      <hostCheckinModal v-if="!loading" :refresh="init" />
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error } from "~/plugins/helper";

export default {
  layout: "user",

  data() {
    return {
      loading: true,
      dashboard: {
        active_attendances: 0,
        spaces: 0,
        reservations: 0,
        reviews: 0,
      },
    };
  },

  async mounted() {
    this.init();
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),

    async init() {
      try {
        this.updateApp({
          active: "dashboard",
          title: "Dashboard",
          description: "Your Dashboard",
        });

        let response = await this.$axios.$get("/host/dashboard");

        this.dashboard = response.data;
        this.loading = false;
      } catch (ex) {
        this.$swal.fire(_error(ex, true));
        this.loading = false;
      }
    },

    checkin() {
      $("#check-in").modal("show");
    },

    checkout() {
      this.$router.push("/host/attendances");
    },
  },
};
</script>