<template>
  <div class="card">
    <div class="card-body" v-if="user.id">
      <loading v-if="loading" />

      <ul
        class="nav nav-tabs justify-content-center"
        id="myTab"
        role="tablist"
        v-if="!loading"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Main Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Bank Details</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="cac-tab"
            data-toggle="tab"
            href="#cac"
            role="tab"
            aria-controls="cac"
            aria-selected="false"
            >CAC</a
          >
        </li>
      </ul>

      <div class="tab-content" id="default-tab" v-if="!loading">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="row host">
            <h5>Host Details</h5>
          </div>
          <div class="mt-4">
            <form action="">
              <div class="form-group">
                <label class="form-control-label">Host Name:</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="user.host.name"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label">Description</label>
                <textarea
                  class="form-control"
                  v-model="user.host.description"
                ></textarea>
              </div>
              <div class="form-group">
                <label class="form-control-label">Email Address:</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="user.host.email"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label">Phone Number:</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="user.host.phone"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label">Main Address:</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="user.host.address"
                />
              </div>
            </form>
          </div>
          <hr />
          <div class="row host">
            <h5>Contact Person</h5>
          </div>
          <div class="mt-4">
            <form action="">
              <div class="form-group">
                <label class="form-control-label">Person Name:</label>
                <input type="text" class="form-control" v-model="user.name" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label">Email Address:</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="user.email"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label">Phone Number:</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="user.phone"
                      />
                    </div>
                  </div>

                  <div class="col-12 form-group">
                    <label class="form-control-label">Upload a Photo</label
                    ><br />
                    <button
                      type="button"
                      class="btn btn-outline"
                      @click="upload"
                      v-if="photo_url.length < 1"
                      :disabled="uploading"
                    >
                      <span><i class="fa fa-image"></i> {{ upload_text }}</span>
                    </button>

                    <button
                      type="button"
                      class="btn btn-outline"
                      @click="upload"
                      v-if="photo_url.length > 1"
                      :disabled="uploading"
                    >
                      <span>Change File</span></button
                    ><br />

                    <code v-if="photo_url.length > 0"
                      >(<a :href="photo_url" target="_blank">{{ photo_url }}</a
                      >)</code
                    >
                  </div>
                </div>
              </div>
              <button type="button" class="damier-btn-fill" v-on:click="update">
                Save Changes
              </button>

              <p class="text-center mt-3">
                What to change your password?
                <a :href="password_url">Click here.</a>
              </p>
            </form>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="mt-4">
            <div class="row host mb-3">
              <h5>Bank Details</h5>
            </div>
            <form action="">
              <div class="form-group">
                <label class="form-control-label">Bank Name</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="user.host.bank_name"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label mb-0">Account Name</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="user.host.bank_account_name"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label mb-0">Account Number</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="user.host.bank_account_number"
                />
              </div>

              <button type="button" class="damier-btn-fill" v-on:click="update">
                Save Changes
              </button>

              <p class="text-center mt-3">
                What to change your password?
                <a :href="password_url">Click here.</a>
              </p>
            </form>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="cac"
          role="tabpanel"
          aria-labelledby="cac-tab"
        >
          <div class="row host mb-3">
            <h5>CAC</h5>
          </div>
          <form action="">
            <div class="form-group">
              <label class="form-control-label">CAC</label>
              <input
                type="text"
                class="form-control"
                v-model="user.host.cac_url"
                disabled
              />
            </div>

            <p class="text-center mt-3">
              What to change your password?
              <a :href="password_url">Click here.</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error, _website_url, _cloudinary_settings } from "~/plugins/helper";

export default {
  layout: "user",

  head: {
    script: [{ src: "https://widget.cloudinary.com/v2.0/global/all.js" }],
  },

  data() {
    return {
      loading: true,
      user: {},
      photo_url: "",
      upload_text: "Upload Image",
      uploading: false,
      password_url: "",
    };
  },

  async mounted() {
    try {
      let response = await this.$axios.$get("/auth/profile");

      this.user = response.data;
      this.password_url = `${_website_url}/auth/password/change`;

      this.updateApp({
        active: "profile",
        title: this.user.host.name,
        description: "Profile",
        button: null,
      });

      this.loading = false;
    } catch (ex) {
      this.$swal.fire(_error(ex, true));
      this.loading = false;
    }
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),

    async update() {
      try {
        await this.$axios.$post("/auth/profile", this.user);

        this.$auth.fetchUser();

        this.$swal.fire({
          type: "success",
          title: "Updated",
          text: "Profile successfully saved.",
        });
      } catch (ex) {
        this.$swal.fire(_error(ex, true));
      }
    },

    async upload() {
      this.upload_text = "Loading...";
      this.uploading = true;

      const widget = cloudinary.createUploadWidget(
        { ..._cloudinary_settings },
        async (error, result) => {
          if (!error && result && result.event === "success") {
            await this.$axios.$post("/auth/profile", {
              photo_url: result.info.secure_url,
            });
            this.$auth.fetchUser();
            this.upload_text = "File uploaded successfully.";
          }
        }
      );

      widget.open();
    },
  },
};
</script>