<template>
    <div class="card">
        
        <loading v-if="loading" />

        <div class="card-header actions-toolbar border-0" v-if="!loading">
            
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <h6 class="d-inline-block mb-0">Reports</h6>
                </div>
                
            </div>
        </div>

        <div  v-if="!loading">

            <table class="table align-items-center">
               
                <tbody>
                    <tr>
                        <td>Checkin Report</td>
                        <td>
                            <a href="#" class="btn btn-outline-primary">Run Report</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Payments Report</td>
                        <td>
                            <a href="#" class="btn btn-outline-primary">Run Report</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Users Report</td>
                        <td>
                            <a href="#" class="btn btn-outline-primary">Run Report</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';
    
    export default {

        layout: 'user',
        
        data(){

            return {

                loading: true
            }
        },
        
        async mounted(){

            try{

                this.updateApp({ active: 'reports', title: 'Reports', 'description': 'Select report to run', button: null });

                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'})

        }
    }

</script>