<template>
    <div class="card">

        <loading v-if="loading" />
        
        <div class="card-header actions-toolbar border-0" v-if="!loading">

            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <h6 class="d-inline-block mb-0">Reviews ({{reviews.length}})</h6>
                </div>
                
            </div>
        </div>

        <div  v-if="!loading">

            <div class="row" v-if="reviews.length < 1">

                <div class="add-location">
                    <ul>
                        <li>
                            <i class="fas fa-list-alt fa-2x"></i>
                        </li>
                        <li  class="mt-3">
                            <p>When users post reviews on any of your spaces, you will be able to see them here.</p>
                        </li>
                    </ul>
                </div>

            </div>
            
            <table class="table align-items-center" v-else>
                <thead>
                    <tr>
                        <th scope="col">USER</th>
                        <th scope="col">SPACE</th>
                        <th scope="col">REVIEW DATE</th>
                        <th scope="col">RATING</th>
                        <th scope="col">REVIEW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in reviews" :key="row.id">
                        <td>{{row.user.name}}</td>
                        <td>{{row.space.name}}</td>
                        <td>{{row.created_at}}</td>
                        <td>
                            <ul>
                                <li class="d-inline">{{row.rating}}/5</li>
                                <li class="d-inline"> <i class="fas fa-star rating-star"></i></li>
                            </ul>
                        </td>
                        <td>{{row.review}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';
    
    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                reviews: []
            }
        },
        
        async mounted(){

            try{

                this.updateApp({ active: 'reviews', title: 'Reviews', 'description': 'Manage your reviews', button: null });

                let response = await this.$axios.$get('/host/reviews');

                this.reviews = response.data;
                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'})

        }
    }

</script>