<template>
    <div class="card">

        <loading v-if="loading" />
        
        <div class="card-header actions-toolbar border-0" v-if="!loading">

            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <h6 class="d-inline-block mb-0">Settlements</h6>
                </div>
                
            </div>
        </div>

        <div  v-if="!loading">

            <div class="row" v-if="settlements.length < 1">

                <div class="add-location">
                    <ul>
                        <li>
                            <i class="fas fa-list-alt fa-2x"></i>
                        </li>
                        <li  class="mt-3">
                            <p>When you have settlement information, they will show up here.</p>
                        </li>
                    </ul>
                </div>

            </div>
            
            <table class="table align-items-center" v-else>
                <thead>
                    <tr>
                        <th scope="col">SETTLEMENT DATE</th>
                        <th scope="col">AMOUNT</th>
                        <th scope="col">CHECK-INS</th>
                        <th scope="col">APPROVED BY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in settlements" :key="row.id">
                        <td>{{row.created_at}}</td>
                        <td>{{row.total}}</td>
                        <td>{{row.attendances}}</td>
                        <td>{{row.approved_by}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';
    
    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                settlements: []
            }
        },

        async mounted(){

            try{

                this.updateApp({ active: 'settlements', title: 'settlements', 'description': 'Your Settlements', button: null });

                let response = await this.$axios.$get('/host/settlements');

                this.settlements = response.data;
                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'})

        }
    }

</script>