:root {
    --primary-color-2: #ED3F3E;
}

.space-card {
    height: 453px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5rem;
    border: none;

}

.space-card .card-body {
    max-height: 276px;
    padding: 1rem;
    border-radius: 20px;
    margin-top: auto;
    z-index: 10000;
    color: #444444;
}


.space-card .card {
    background-color: white;
    margin-top: auto;
    height: 245px;
    float: none;
    margin-bottom: 0;
}

.user-count{
    background-color: #efdfde;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    color: #444;
}

.space-card p {
    font-size: 14px;
}

.badge-primary2 {
    background-color: var(--primary-color-2);
}

/* Packages */
.package_details {
    background-color: hsla(4, 100%, 26%, 0.1);
    border-radius: 10px;
}

.package_details .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: #444444;
    border-bottom: 2px solid rgba(131, 9, 0, 0.1);
}

.detail:last-child {
    border-bottom: none;
}

.search_by_location_form {
    padding: 1rem;
border: 2px solid #850901;
margin-bottom: 1rem;
text-align: center;
 justify-content: center;
 border-radius: 5px;
 
}

.search_by_location_form .select_input {
    margin: 0 .5rem;
    padding: .5rem 1rem;
    color: #444444;
    border: 2px solid #850901;
    border-radius: 4px;

}

.dash-spaces .swiper-buttons{
    height: 45px;
    width: 45px;
    background-color: #ED3F3E;
    color: white !important;
    border-radius: 50%;
    background-size: 20px 20px;
}

.swiper-button-prev{
    top: 40% !important;
    left: 0 !important;
}

.swiper-button-next{
    top: 40% !important;
    right: 0 !important;
}

/* error_box */
.error_box {
    
background: hsla(4, 100%, 26%, 0.2);
padding: .5rem;
border-radius: 5px;
}

.loader_wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg-loader.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
    margin:0px;
}

.no-activity{
    text-align: center;
}

.activity-img{
    overflow: hidden;
    width: 100%;
    height: 330px;
    border-radius: 10px;
}

.reservation-time{
    background-color: #FDECEC;
    padding: 15px 15px 10px;
    border-radius: 10px;
}

.thead-primary{
    background-color: #fbd5d5;
    color: #222;
}

.comments-review{
    background-color: #f8f8fb;
    float: left;
    width: 100%;
    padding: 5px 10px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modify-comment{
    margin-bottom: 10px;
}

.modify-comment li{
    display: inline-block;
    margin-right: 10px;
    border: 0px;
    padding: 0px;
}