<template>
	<ul class="navbar-nav align-items-lg-center">

		<li class="nav-item d-lg-none ">
			<nuxt-link class="nav-link" to="/host"> Dashboard </nuxt-link>
		</li>

		<li class="nav-item d-lg-none ">
			<nuxt-link class="nav-link" to="/host/attendances">Attendance </nuxt-link>
		</li>

		<li class="nav-item d-lg-none ">
			<nuxt-link class="nav-link" to="/host/spaces">My Spaces </nuxt-link>
		</li>

		<li class="nav-item d-lg-none ">
			<nuxt-link class="nav-link" to="/host/locations">My Locations</nuxt-link>
		</li>

		<li class="nav-item d-lg-none ">
			<nuxt-link class="nav-link" to="/host/reviews">Reviews</nuxt-link>
		</li>

		<li class="nav-item d-lg-none ">
			<nuxt-link class="nav-link" to="/host/settlements">Settlements</nuxt-link>
		</li>


		<li class="nav-item d-lg-none ">
			<nuxt-link class="nav-link" to="/host/profile">Settings</nuxt-link>
		</li>

		<li class="nav-item d-lg-none ">
			<nuxt-link class="nav-link" to="/logout">Logout</nuxt-link>
		</li>
		
		<li class="border-top opacity-2 my-2"></li>
	</ul>
</template>

<script>

  import { _website_url } from '~/plugins/helper';

  export default {

    props: ['active'],

    data(){

      return {

        logout_url: `${_website_url}/auth/logout`
      
      }
    }
  }

</script>