<template>
	<div class="modal fade" id="check-in" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Check-In a User</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="row">
						
						<div class="col-lg-5">
							<div class="user-form">
								<form action="">
									<div class="form-group">
										<label class="form-control-label" for="">Email Address:</label>
										<input type="text" name="" class="form-control" placeholder="e.g: johndoe@domain.com" v-model="email" :disabled="loading">
									</div>
									<div class="form-group">
										<label class="form-control-label" for="">User OTP token:</label>
										<input type="text" name="" class="form-control" placeholder="e.g: 87JDE7KA" v-model="token" :disabled="loading">
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-fill w-100 check-verify" v-on:click="getUser" :disabled="loading">Verify Details</button>
									</div>
								</form>
								<div class="alert alert-info bg-grey">
									<strong class="text-dark"><i data-feather="info"></i> Please ensure that the user is looking like the same person standing in front of you.</strong>
								</div>
							</div>
						</div>

						<div class="col-lg-7">
							
							<div class="user-details check-after" v-if="user">
								<div class="verified-top">
									<span class="user-package"><strong>Package:</strong> {{user.subscription.package.name}}</span>
									<span class="reset-login">ACTIVE</span>
								</div>

								<div class="top text-center">
									<div class="img-holder">
										<img :src="user.photo_url">
									</div>
									<h5>{{user.name}}</h5>
									<p class="h6">{{user.email}}</p>
								</div>
								<div class="bottom">
									<div class="form-group">
										<label class="form-control-label" for="">Checking In To:</label>
										<div class="check-into-holder">
											<div class="row">
												<div class="col-lg-4">
													<div class="img-space-thumb">
														<img :src="space.photo_url" :alt="space.name">
													</div>
												</div>
												<div class="col-lg-8">
													<div class="space-det">
														<ul>
															<li class="space-name">{{space.name}}</li>
															<li>Location: {{location.name}}</li>
															<li>Capacity: {{space.capacity}}</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="button-check">
										<button type="button" class="btn btn-fill checked" v-on:click="approveCheckin">Check-In</button>
									</div>
								</div>
							</div>

							<div class="user-details check-initial" v-else>
								<div class="top text-center">
									<div class="img-holder">
										<img src="/img/avatar-placeholder.svg">
									</div>
									<h6>Please enter the User Details and verify to continue.</h6>
								</div>
								<div class="bottom">
									<div class="form-group">
										<label class="form-control-label" for="">Checking In To:</label>
										<img src="/img/check-into.svg" alt="">
									</div>
									<div class="button-check">
										<button type="button" class="btn btn-fill" disabled>Check-In</button>
									</div>
								</div>
							</div>

							

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import { _error } from '~/plugins/helper';

	export default {

		data(){

			return {

				email: '',
				token: '',
				user: null,
				space: null,
				location: null,
				loading: false
			}
		},

		props: ['type', 'refresh'],

		methods: {

			async getUser(){

				try{

					this.user = null;
					this.space = null;
					this.location = null;

					let response = await this.$axios.$post('/host/attendance/get-user', this.$data);

					if(response.status == 'Failed'){

						this.$swal.fire(_error(response.data, true));

					}else{

						this.user = response.data.user;
						this.space = response.data.space;
						this.location = response.data.location;
					}

				}catch(ex){

					this.$swal.fire(_error(ex, true));
				}

			},

			async approveCheckin(){

				this.$swal.fire({

					title: `Are you sure you want to check in ${this.user.name} ?`,
					text: 'You would not be able to revert this operation.',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: `Yes`

				}).then((result) => {

					if (result.value) {

						this.checkIn();
					}

				})
			},

			async checkIn(){

				try{

					let response = await this.$axios.$post('host/attendance/use-token', { token: this.token });

					if(response.status == 'Successful'){

						this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });
					
					}else{

						this.$swal.fire(_error(response, true));
					}
					
					this.email = '';
					this.token = '';
					this.user = null;
					this.space = null;
					this.location= null;

					$('#check-in').modal('hide');
					this.refresh();

				}catch(ex){

					this.$swal.fire(_error(ex, true));
				}
			}

		}

	}

</script>