<template>

	<div class="nav-application clearfix">

		<nuxt-link to="/host" class="btn btn-square text-sm" :class="{'active' : active == 'dashboard'}">
			<span class="btn-inner--icon d-block"><i class="fa fa-home fa-2x"></i></span>
			<span class="btn-inner--icon d-block pt-2">Dashboard</span>
		</nuxt-link>

		<nuxt-link to="/host/attendances" class="btn btn-square text-sm" :class="{'active' : active == 'attendance'}">
			<span class="btn-inner--icon d-block"><i class="fas fa-calendar-check fa-2x"></i></span>
			<span class="btn-inner--icon d-block pt-2">Attendance</span>
		</nuxt-link>

		<nuxt-link to="/host/spaces" class="btn btn-square text-sm" :class="{'active' : active == 'spaces'}">
			<span class="btn-inner--icon d-block"><i class="fas fa-couch fa-2x"></i></span>
			<span class="btn-inner--icon d-block pt-2">My Spaces</span>
		</nuxt-link>

		<nuxt-link to="/host/locations" class="btn btn-square text-sm" :class="{'active' : active == 'locations'}">
			<span class="btn-inner--icon d-block"><i class="fas fa-map-signs fa-2x"></i></span>
			<span class="btn-inner--icon d-block pt-2">My Locations</span>
		</nuxt-link>

		<nuxt-link to="/host/reviews" class="btn btn-square text-sm" :class="{'active' : active == 'reviews'}">
			<span class="btn-inner--icon d-block"><i class="fas fa-star fa-2x"></i></span>
			<span class="btn-inner--icon d-block pt-2">Reviews</span>
		</nuxt-link>

		<nuxt-link to="/host/settlements" class="btn btn-square text-sm" :class="{'active' : active == 'settlements'}">
			<span class="btn-inner--icon d-block"><i class="fas fa-wallet fa-2x"></i></span>
			<span class="btn-inner--icon d-block pt-2">Settlements</span>
		</nuxt-link>

		<nuxt-link to="/host/profile" class="btn btn-square text-sm" :class="{'active' : active == 'profile'}">
			<span class="btn-inner--icon d-block"><i class="fas fa-cogs fa-2x"></i></span>
			<span class="btn-inner--icon d-block pt-2">Settings</span>
		</nuxt-link>

		<nuxt-link to="/logout" class="btn btn-square text-sm">
			<span class="btn-inner--icon d-block"><i class="fas fa-sign-out-alt fa-2x"></i></span>
			<span class="btn-inner--icon d-block pt-2">Logout</span>
		</nuxt-link>

	</div>

</template>

<script>

  import { _website_url } from '~/plugins/helper';

  export default {

    props: ['active']
  }

</script>