<template>
  <div :class="'col-lg-' + col">
    <div
      class="space-card d-flex flex-column"
      :style="{ backgroundImage: `url(${space.photo_url})`, cursor: 'pointer' }"
    >
      <div class="head">
        <span class="status">
          <i class="fas fa-circle" :class="space.space_status"></i>
          {{ space.space_status.toUpperCase() }}
        </span>
        <span class="save-unsave save-space">
          <div class="dropdown">
            <a href="#" class="action-item" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v text-white"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nuxt-link :to="'/host/spaces/' + space.id" class="dropdown-item"
                ><i class="fas fa-pen"></i>Edit Space</nuxt-link
              >
              <nuxt-link :to="'/host/spaces/' + space.id" class="dropdown-item"
                ><i class="fas fa-images"></i>Space Gallery</nuxt-link
              >
              <nuxt-link
                :to="'/host/spaces/' + space.id"
                class="dropdown-item primary-color2"
                ><i class="fas fa-ban"></i>Mark as Closed</nuxt-link
              >
            </div>
          </div>
        </span>
      </div>

      <nuxt-link :to="'/host/spaces/' + space.id">
        <div class="base card">
          <h6 class="text-primary2">
            <nuxt-link :to="'/host/spaces/' + space.id">
              {{ space.name }}
            </nuxt-link>
          </h6>

          <p><strong>Location:</strong> {{ space.location.address }}</p>

          <div class="metas">
            <div class="row">
              <div class="col-8">
                <ul>
                  <li
                    v-for="amenity in space.simple_amenities"
                    :key="amenity.name"
                    class="mr-3"
                    v-tooltip="amenity.name"
                  >
                    <img :src="amenity.icon" :height="18" />
                  </li>
                  <li
                    data-toggle="tooltip"
                    data-placement="top"
                    has-tooltip
                    title="More Amenities"
                  >
                    <i class="fas fa-ellipsis-h"></i>
                  </li>
                </ul>
              </div>
              <div class="col-4 text-right">
                <span class="user-count" v-tooltip="'Space Capacity'"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-user"
                  >
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                  {{ space.capacity }}</span
                >
              </div>
            </div>
          </div>

          <div class="">
            <ul>
              <li>
                <span class="space-rating badge badge-primary2">
                  {{ space.ratings_average }} <i class="fas fa-star"></i>
                </span>
              </li>
              <li>- {{ space.reviews_count }} Reviews</li>
            </ul>
            <div
              class="tx-14 d-flex align-items-center mt-3 space-location-axis"
            >
              <i class="fas fa-map-marker-alt mr-2 text-primary"></i>
              {{ space.location.city }}
              {{ space.location.state }}
            </div>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  props: ["space", "col"],
};
</script>