<template>
  <ul class="navbar-nav align-items-lg-center">

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/user"> Dashboard </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/team/team"> Team </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/team/packages"> Packages </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/team/reviews"> Team Reviews </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/team/subscriptions"> Team Subscriptons </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/team/attendances"> History </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/team/profile"> Profile </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/logout">Logout</nuxt-link>
    </li>

    <li class="border-top opacity-2 my-2"></li>

  </ul>
</template>

<script>

  import { _website_url } from '~/plugins/helper';

  export default {

    props: ['active']
  }

</script>