<template>
  <ul class="navbar-nav align-items-lg-center">

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/user"> Dashboard </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/user/packages"> Packages </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/user/reviews"> Reviews </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/user/subscriptions"> Subscriptons </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/user/spaces"> Spaces </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/user/attendances"> History </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/user/profile"> Profile </nuxt-link>
    </li>

    <li class="nav-item d-lg-none ">
      <nuxt-link class="nav-link" to="/logout">Logout</nuxt-link>
    </li>

    <li class="border-top opacity-2 my-2"></li>

  </ul>
</template>

<script>

  import { _website_url } from '~/plugins/helper';

  export default {

    props: ['active']
  }

</script>