<template>
  <div class="nav-application clearfix">

    <nuxt-link to="/user/" class="btn btn-square text-sm" :class="{'active' : active == 'dashboard'}">
      <span class="btn-inner--icon d-block"><i class="fa fa-home fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Dashboard</span>
    </nuxt-link>

    <nuxt-link v-if="team_id < 1" to="/user/packages" class="btn btn-square text-sm" :class="{ 'active': active == 'packages' }">
      <span class="btn-inner--icon d-block"><i class="fas fa-archive fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Packages</span>
    </nuxt-link>

    <nuxt-link v-else to="/user/team" class="btn btn-square text-sm" :class="{ 'active': active == 'team' }">
      <span class="btn-inner--icon d-block"><i class="fas fa-users fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Team</span>
    </nuxt-link>

    <nuxt-link to="/user/spaces" class="btn btn-square text-sm" :class="{ 'active': active == 'spaces' }">
      <span class="btn-inner--icon d-block"><i class="fas fa-couch fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Spaces</span>
    </nuxt-link>

    <nuxt-link to="/user/attendances" class="btn btn-square text-sm" :class="{ 'active': active == 'attendance' }">
      <span class="btn-inner--icon d-block"><i class="fas fa-history fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">History</span>
    </nuxt-link>

    <nuxt-link to="/user/reviews" class="btn btn-square text-sm" :class="{ 'active': active == 'reviews' }">
      <span class="btn-inner--icon d-block"><i class="fas fa-star fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Reviews</span>
    </nuxt-link>

    <nuxt-link to="/user/subscriptions" class="btn btn-square text-sm" :class="{ 'active': active == 'subscriptions' }">
      <span class="btn-inner--icon d-block"><i class="fas fa-address-card fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Subscriptions</span>
    </nuxt-link>

    <nuxt-link to="/user/profile" class="btn btn-square text-sm" :class="{ 'active': active == 'profile' }">
      <span class="btn-inner--icon d-block"><i class="fas fa-user-alt fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Profile</span>
    </nuxt-link>

    <nuxt-link to="/logout" class="btn btn-square text-sm">
      <span class="btn-inner--icon d-block"><i class="fas fa-sign-out-alt fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Logout</span>
    </nuxt-link>

  </div>
</template>

<script>

  import { _website_url } from '~/plugins/helper';

  export default {

    props: ['active', 'team_id']
  }

</script>