<template>
  <div class="card">
    <loading v-if="loading" />

    <div class="card-header actions-toolbar border-0" v-else>
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <h5 class="damier-color">SPACE DETAILS</h5>
          <div class="mt-4">
            <form action="">
              <div class="form-group">
                <label class="form-control-label">Select a Location:</label>
                <select class="form-control" v-model="space.location_id">
                  <option :value="row.id" v-for="row in locations">
                    {{ row.name }} - {{ row.address }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-control-label">Space Name:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="e.g: Dedicated Desk"
                  v-model="space.name"
                />
              </div>

              <div class="form-group">
                <label class="form-control-label">Space Description:</label>
                <textarea
                  class="form-control"
                  rows="3"
                  placeholder="This is how customers will know about this space, so make it good!"
                  v-model="space.description"
                ></textarea>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Category:</label>
                    <select class="form-control" v-model="space.category_id">
                      <option
                        :value="row.id"
                        v-for="row in categories"
                        v-key="row.id"
                      >
                        {{ row.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label"
                      >Maximum Capacity: (Maximum persons to occupy)</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      v-model="space.capacity"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label"
                  >Space Quantity: (Amount available): *</label
                >
                <input type="number" class="form-control" />
              </div>

              <hr />

              <div class="form-group">
                <label class="form-control-label">Cover Photo</label><br />
                <button
                  type="button"
                  class="btn btn-outline"
                  @click="upload"
                  v-if="space.photo_url.length < 1"
                  :disabled="uploading"
                >
                  <span><i class="fa fa-image"></i> {{ upload_text }}</span>
                </button>

                <button
                  type="button"
                  class="btn btn-outline"
                  @click="upload"
                  v-if="space.photo_url.length > 1"
                  :disabled="uploading"
                >
                  <span>Change File</span></button
                ><br />

                <code v-if="space.photo_url.length > 0"
                  >(<a :href="space.photo_url" target="_blank">{{
                    space.photo_url
                  }}</a
                  >)</code
                >
              </div>

              <hr />

              <div v-for="row in amenities">
                <div class="mt-5 mb-3">
                  <h5 class="d-inline-block mb-0 damier-color">
                    {{ row.group }}
                  </h5>
                </div>

                <div class="row">
                  <div
                    class="col-lg-6"
                    v-for="amenity in row.amenities"
                    v-key="amenity.id"
                  >
                    <div class="form-group">
                      <div class="custom-control custom-switch">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          :id="'amenities' + amenity.id"
                          v-model="amenity.switch"
                        />
                        <label
                          class="custom-control-label"
                          :for="'amenities' + amenity.id"
                        ></label>
                        {{ amenity.name }}
                      </div>
                    </div>
                  </div>
                </div>

                <hr />
              </div>

              <div class="form-group">
                <label class="form-control-label">Status: *</label>
                <select class="form-control" required>
                  <option value="yes">Active</option>
                  <option value="no">Inactive</option>
                </select>
              </div>

              <button
                class="btn btn-fill w-100"
                type="button"
                v-on:click="submit"
              >
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error, _cloudinary_settings } from "~/plugins/helper";

export default {
  layout: "user",

  head: {
    script: [{ src: "https://widget.cloudinary.com/v2.0/global/all.js" }],
  },

  data() {
    return {
      loading: true,
      locations: [],
      categories: [],
      amenities: [],

      space: {
        location_id: 0,
        name: "",
        description: "",
        category_id: 0,
        capacity: "",
        photo_url: "",
      },

      upload_text: "Upload Image",
      uploading: false,
    };
  },

  async mounted() {
    try {
      this.updateApp({
        active: "spaces",
        title: "Spaces",
        description: "Manage your spaces",
        button: "Add a New Space",
        button_url: "/host/spaces/0",
      });

      let space_id = this.$route.params.id;

      let response = await this.$axios.$get("/host/locations");
      this.locations = response.data;

      response = await this.$axios.$get("/host/categories");
      this.categories = response.data;

      response = await this.$axios.$get(`/host/amenities/${space_id}`);
      this.amenities = response.data;

      if (parseInt(space_id) > 0) {
        response = await this.$axios.$get(`/host/space/${space_id}`);

        if (response.status == "Successful") this.space = response.data;
      }

      this.loading = false;
    } catch (ex) {
      this.$swal.fire(_error(ex, true));
      this.loading = false;
    }
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),

    async submit() {
      try {
        this.loading = true;

        this.space.amenities = this.amenities;

        let response = await this.$axios.$post("/host/space", this.space);

        this.$swal.fire({
          type: "success",
          title: "Successful",
          text: response.message,
        });

        this.loading = false;

        this.$router.push("/host/spaces");
      } catch (ex) {
        this.loading = false;

        this.$swal.fire(_error(ex, true));
      }
    },

    async upload() {
      this.upload_text = "Loading...";
      this.uploading = true;

      const widget = cloudinary.createUploadWidget(
        { ..._cloudinary_settings },
        async (error, result) => {
          if (!error && result && result.event === "success")
            this.space.photo_url = result.info.secure_url;

          this.uploading = false;
        }
      );

      widget.open();
    },
  },
};
</script>