<template>
  <div class="card">
    <loading v-if="loading" />

    <div class="card-header" v-if="!loading">
      <div class="row">
        <div class="col-md-6">
          <h5 class="h6 mb-0">Spaces ({{ spaces.length }})</h5>
        </div>
        <div class="col-md-6 text-right"></div>
      </div>
    </div>

    <div class="card-body" v-if="!loading">
      <div class="input-group flex-nowrap">
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          v-model="query"
        />
        <div class="input-group-append">
          <span class="input-group-text search" id="addon-wrapping"
            ><i class="fas fa-search"></i
          ></span>
        </div>
      </div>

      <hr />

      <div class="dash-spaces">
        <div class="row" v-if="spaces.length < 1 && query.length == 0">
          <div class="add-location">
            <ul>
              <li>
                <i class="fas fa-list-alt fa-2x"></i>
              </li>
              <li class="mt-3">
                <p>
                  you will be able to manage all your spaces from here. Click on
                  Add new space above to get started.
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" v-else>
          <hostSpace
            v-for="row in searchSpaces(spaces, query)"
            :space="row"
            :key="row.id"
            :col="4"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error } from "~/plugins/helper";

export default {
  layout: "user",

  data() {
    return {
      loading: true,
      spaces: [],
      query: "",
    };
  },

  async mounted() {
    try {
      this.updateApp({
        active: "spaces",
        title: "Spaces",
        description: "Manage your spaces",
        button: "Add a New Space",
        button_url: "/host/spaces/0",
      });

      let response = await this.$axios.$get("/host/spaces");

      this.spaces = response.data;
      this.loading = false;
    } catch (error) {
      this.$swal.fire(_error(ex, true));
      this.loading = false;
    }
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),

    searchSpaces(spaces, query) {
      query = query.toLowerCase();

      if (query.length < 3) return spaces;

      return spaces.filter((row) => {
        return row.name.toLowerCase().includes(query);
      });
    },
  },
};
</script>