<template>
  <div class="">
    <loading v-if="loading" />

    <div class="row animated fadeIn" v-if="space.id && !loading">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="h4">
              {{ space.name }}
            </h5>
            <!-- <h6 class="text-sm">{{space.location.name}} - {{space.location.address}}</h6> -->
            <p class="text-sm mb-1 text-dark">
              <strong> Host:</strong> {{ space.host.name }}
            </p>
            <p class="text-sm mb-1 text-dark">
              <strong> Address:</strong> {{ space.location.address }}
            </p>
            <p class="text-sm mb-1 text-dark">
              <strong> Location:</strong> {{ space.location.name }}
            </p>
            <p class="text-sm mb-1 text-dark">
              <strong> State/City:</strong> Ikeja/Lagos
            </p>
            <p class="text-sm mb-1 text-dark">
              <strong> Maximum Capacity: </strong> {{ space.capacity }}
            </p>
            <p class="text-dark mt-4 pb-4 border-bottom">
              This space is:
              <span class="statu btn-outline-primary px-2 py-1 tx-12 btn btn-sm text-sm">
                <i class="fas fa-circle" :class="space.space_status"></i>
                {{ space.space_status.toUpperCase() }}
              </span>
              <span class="badge bg-primary-color2 text-white p-2"><i class="fas fa-layer-group"></i
                    > Your Plan or Flexi Low</span>
            </p>

            <div class="row align-items-center">
              <div class="col-sm-6">
                <ul>
                  <li class="d-inline">
                    <span class="space-rating"
                      >{{ space.ratings_average }} <i class="fas fa-star"></i
                    ></span>
                  </li>
                  <li class="d-inline">
                    <a href="#reviews">- {{ space.reviews_count }} Reviews</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 text-sm-right">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <button
                      type="button"
                      v-on:click="saveSpace"
                      class="btn btn-sm btn-outline"
                      v-if="!space.saved"
                    >
                      <i class="fa fa-heart"></i> Save Space
                    </button>
                    <button
                      type="button"
                      v-on:click="saveSpace"
                      class="btn btn-sm btn-outline"
                      v-else
                    >
                      <i class="fa fa-times"></i> Unsave Space
                    </button>
                  </li>
                </ul>
              </div>
            </div>

            <div class="py-4 my-5">
            <h5 class="font-weight-bold border-bottom pb-2 mb-4">Description:</h5>
              <p class="text-sm mb-0">{{ space.description }}</p>
            </div>

            <div class="my-5 border-bottom space-amenities">
            <h5 class="font-weight-bold border-bottom pb-2 mb-4">Amenities:</h5>
              <p class="primary-color2 mb-0 mt-2">BASICS</p>
              <ul>
                <li v-for="row in space.amenities" :key="row.id">
                  <img :src="row.icon" :alt="row.name" v-if="row.icon" />
                  {{ row.name }}
                </li>
              </ul>
            </div>

            <!--<div class="my-5 border-bottom space-amenities">
              <h5 class="font-weight-bold border-bottom pb-2 mb-4">Location on Map:</h5>
              <iframe
                :src="`https://maps.google.com/maps?q='${space.location.latitude}','${space.location.longitude}'&hl=es&z=14&amp;output=embed&zoom=24`"
                width="100%"
                height="300"
                frameborder="0"
                style="border: 0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
              ></iframe>
            </div>-->

            <div class="my-4 border-bottom space-amenities" id="reviews">
              <h5 class="font-weight-bold border-bottom pb-2 mb-4">Reviews:</h5>

              <div
                class="review-comment"
                v-for="row in space.reviews"
                :key="row.id"
              >
                <div class="top-part">
                  <div class="img-holder">
                    <img :src="row.user.photo_url" alt="" />
                  </div>
                  <div class="name-star">
                    <p class="mb-0">{{ row.user.name }}</p>
                    <ul>
                      <li class="d-inline">
                        <small>July 20, 2021</small> - <span class="space-rating"
                          >{{ row.rating }}.0 <i class="fas fa-star"></i
                        ></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="comments-review">
                  <p class="mb-1">{{ row.review }}</p>
                </div>
                <ul class="modify-comment">
                  <li><a href="#"><i class="fas fa-trash"></i
                        > Delete</a></li>
                  <li><a href="#"><i class="fas fa-pen"></i
                        > Edit</a></li>
                </ul>
              </div>

              <div>
                <div class="card-body review-rating">
                  <h5 class="font-weight-bold text-center mb-2">Your Ratings:</h5>
                  <div class="btn-group" data-toggle="buttons">
                    <label
                      class="btn btn-secondary"
                      v-on:click="updateRating(1)"
                    >
                      <input
                        type="radio"
                        name="options"
                        id="option1"
                        :value="0"
                        v-model="rating"
                      /><br />1 Star
                    </label>
                    <label
                      class="btn btn-secondary"
                      v-on:click="updateRating(2)"
                    >
                      <input
                        type="radio"
                        name="options"
                        id="option2"
                        :value="1"
                        v-model="rating"
                      /><br />2 Stars
                    </label>
                    <label
                      class="btn btn-secondary"
                      v-on:click="updateRating(3)"
                    >
                      <input
                        type="radio"
                        name="options"
                        id="option3"
                        :value="2"
                        v-model="rating"
                      /><br />3 Stars
                    </label>
                    <label
                      class="btn btn-secondary"
                      v-on:click="updateRating(4)"
                    >
                      <input
                        type="radio"
                        name="options"
                        id="option4"
                        :value="3"
                        v-model="rating"
                      /><br />4 Stars
                    </label>
                    <label
                      class="btn btn-secondary"
                      v-on:click="updateRating(5)"
                    >
                      <input
                        type="radio"
                        name="options"
                        id="option5"
                        :value="4"
                        v-model="rating"
                      /><br />5 Stars
                    </label>
                  </div>
                </div>
                <form action="">
                  <h6>Your Comments:</h6>
                  <div class="form-group">
                    <textarea
                      name=""
                      id="input"
                      class="form-control"
                      rows="5"
                      placeholder="Let us know what you think..."
                      v-model="review"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <button
                      type="button"
                      v-on:click="saveReview"
                      class="btn btn-fill"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-sm-12 text-center mb-4 mb-sm-3">
                <span class="d-block h5 mb-2"
                  >You have {{ slots }} more slots</span
                >
                <a href="#" class="text-sm" v-if="slots > 0"
                  >You can Check-In to this space</a
                >
                <a href="#" class="text-sm error_box  text-dark d-block" v-else
                  >You can not Check-In to this space</a
                >
                <div class="mt-3 text-center">
                  <a type="button"  class="btn btn-primary text-white" aria-disabled="true" disabled>Check-In Now</a>
                  <a type="button" class="btn btn-outline-primary"> Reserve Space</a>
                </div>
              </div>
              <div class="col-sm-6 text-sm-right">
                <div class="btn-group" v-if="slots > 0">
                  <button
                    type="button"
                    class="btn btn-sm btn-fill mr-2 disabled"
                    v-if="space.attendance"
                    disabled
                  >
                    Curently checked in to {{ space.attendance.space.name }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-fill mr-2"
                    v-else
                    v-on:click="attendanceToken"
                  >
                    Check In
                  </button>

                  <button
                    type="button"
                    v-on:click="reserveSpace"
                    class="btn btn-sm btn-outline"
                    v-if="!space.reservation"
                  >
                    Reserve
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline disabled"
                    disabled
                    v-else
                  >
                    Reserved
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body space-gallery">
            <a
              href="javascript:;"
              v-on:click="lightBox(space.photo_url)"
              data-fancybox="product"
            >
              <img :src="space.photo_url" class="img-fluid" />
            </a>

            <div class="row mt-4">
              <div class="col-4" v-for="row in space.photos" :key="row.id">
                <div class="p-3 border rounded">
                  <a
                    href="javascript:;"
                    v-on:click="lightBox(row.url)"
                    class="stretched-link"
                    data-fancybox="product"
                  >
                    <img :src="row.url" class="img-fluid" />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <vue-easy-lightbox
            :visible="image_visible"
            :imgs="image_url"
            @hide="handleHide"
          ></vue-easy-lightbox>
        </div>

        <div class="card">
          <div class="card-header border-0">
            <h6 class="mb-0">Related Spaces</h6>
          </div>

          <div class="related-spaces">
            <div class="card-body">
              <space
                v-for="row in space.related"
                :space="row"
                :col="12"
                :key="row.id"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error } from "~/plugins/helper";

export default {
  layout: "user",

  data() {
    return {
      loading: true,
      space: {},
      slots: 0,
      rating: 1,
      review: "",
      image_url: null,
      image_visible: false,
    };
  },

  async mounted() {
    this.loadSpace();
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),

    async loadSpace() {
      try {
        await this.$auth.fetchUser();

        let response = await this.$axios.$get(
          `/user/space/${this.$route.params.id}`
        );

        if (response.status == "Failed")
          return this.$swal.fire(_error(response, true));

        this.space = response.data;
        this.slots = this.$auth.user.slots_left;

        this.updateApp({
          active: "spaces",
          title: this.space.name,
          description: this.space.description,
        });
        this.loading = false;
      } catch (ex) {
        this.$swal.fire(_error(ex, true));
        this.loading = false;
      }
    },

    async saveSpace() {
      try {
        let response = await this.$axios.$get(
          `/user/space/${this.space.id}/save`
        );

        if (response.status == "Failed")
          return this.$swal.fire(_error(response, true));

        this.space.saved = response.data;

        this.$swal.fire({
          type: "success",
          title: "Successful",
          text: response.message,
        });
      } catch (ex) {
        this.$swal.fire(_error(ex, true));
      }
    },

    async reserveSpace() {
      try {
        this.$swal
          .fire({
            title: `Are you sure you want to reserve this space?`,
            text: "Note that you can only reserve one space at a time",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: `Yes`,
          })
          .then(async (result) => {
            if (result.value) this.executeReserveSpace();
          });
      } catch (ex) {
        this.$swal.fire(_error(ex, true));
      }
    },

    async executeReserveSpace() {
      try {
        let response = await this.$axios.$post(`/user/reserve-space`, {
          space_id: this.space.id,
        });

        if (response.status == "Failed")
          return this.$swal.fire(_error(response, true));

        this.space.reservation = response.data;

        this.$swal.fire({
          type: "success",
          title: "Successful",
          text: response.message,
        });
      } catch (ex) {
        this.$swal.fire(_error(ex, true));
      }
    },

    async attendanceToken() {
      try {
        let response = await this.$axios.$post(
          `/user/attendance/tokens/create`,
          { space_id: this.space.id }
        );

        if (response.status == "Failed")
          return this.$swal.fire(_error(response, true));

        let message = `Checkin OTP is ${response.data.token}. Please provide this information to the front desk officer to authorize checkin.`;

        this.$swal.fire({
          type: "success",
          title: "Successful",
          text: message,
        });
      } catch (ex) {
        this.$swal.fire(_error(ex, true));
      }
    },

    async saveReview() {
      try {
        let response = await this.$axios.$post(
          `/user/space/${this.space.id}/review`,
          { rating: this.rating, review: this.review }
        );

        if (response.status == "Failed")
          return this.$swal.fire(_error(response, true));

        this.$swal.fire({
          type: "success",
          title: "Successful",
          text: response.message,
        });

        this.loadSpace();

        this.rating = 1;
        this.review = "";

        document.getElementById("reviews").scrollIntoView();
      } catch (ex) {
        this.$swal.fire(_error(ex, true));
      }
    },

    updateRating(rating) {
      this.rating = rating;
    },

    lightBox(url) {
      this.image_url = url;
      this.image_visible = true;
    },

    handleHide() {
      this.image_visible = false;
    },
  },
};
</script>