<template>
    <div class="card">
        <div class="card-body history">

            <loading v-if="loading" />
            
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" v-if="!loading">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Check-in/Check-Out ({{attendances.length}})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reservations ({{reservations.length}})</a>
                </li>
            </ul>


            <div class="tab-content" id="default-tab" v-if="!loading">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row" v-if="attendances.length < 1">

                      <div class="add-location">
                        <ul>
                          <li>
                            <i class="fas fa-list-alt fa-2x"></i>
                        </li>
                        <li  class="mt-3">
                            <p>When you check in and out of spaces, your history will show up here.</p>
                        </li>
                        <li class="mt-3">
                            <nuxt-link to="/user/spaces" class="damier-btn-fill">
                                View Spaces<i class="fas fa-chevron-right"></i>
                            </nuxt-link> 
                        </li>
                    </ul>
                </div>

            </div>

            <table class="tabletable table-responsive-hover table table-responsive-inverse" style="width:100%" v-else>
                <thead>
                    <tr>
                        <th>LOGIN CODE</th>
                        <th>USER</th>
                        <th>SPACE</th>
                        <th>CHECKIN AT</th>
                        <th>CHECKOUT AT</th>
                        <th>HOST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in attendances" :key="row.id" v-on:click="open(row.id)" style="cursor:pointer">
                        <td>{{row.reference}}</td>
                        <td>{{row.user}}</td>
                        <td>{{row.space}}</td>
                        <td>{{row.start_at}}</td>
                        <td>{{row.end_at}}</td>
                        <td>{{row.host}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <h6 class="title" v-if="reservations.length > 0">RESERVATION HISTORIES</h6>

            <table class="table table-responsive" v-if="reservations.length > 0">
                <thead>
                    <tr>
                        <th>SPACE RESERVED</th>
                        <th>USER</th>
                        <th>RRESERVED AT</th>
                        <th>LOCATION</th>
                        <th>EXIPIRES AT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in reservations" :key="row.id">
                        <td>{{row.space.name}}</td>
                        <td>{{row.user.name}}</td>
                        <td>{{row.start_at}}</td>
                        <td>{{row.location.address}}</td>
                        <td>{{row.end_at}}</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>

</div>
</div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';
    
    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                attendances: [],
                reservation: {id: 0},
                reservations: []
            }
        },

        async mounted(){

            try{

                this.updateApp({ active: 'attendance', title: 'History', 'description': 'View all the Check-in, Check-out and reservation activities' });

                let response = await this.$axios.$get('/team/attendances');

                this.attendances = response.data;

                response = await this.$axios.$get('/team/reservations');

                this.reservations = response.data;

                if(this.reservations.length > 0)
                    this.reservation = this.reservations[0];

                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),

            open(id){

                return; // this.$router.push(`/user/attendance?id=${id}`);
            }
        }
    }

</script>