<template>

    <div class="card">
        <loading v-if="loading" />

        <div class="card-body" v-else>

            <div class="col-lg-12">

                <div class="row" v-if="!subscription">
                    <div class="col mb-5">

                        <div class="currently-checked-in">
                            <h6>Subscrib to a team package</h6>
                            <div class=" note text-center">
                                <i class="fas fa-braille fa-2x"></i>
                                <p>You are not subscribed to any <br> package at the moment. Please <br> subscribe to start booking.</p>
                                <nuxt-link to="/team/packages" class="btn btn-sm btn-outline">Subscribe Now</nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mb-1">
                        <div class="card text-center p-3">
                            <h3><i data-feather="users"></i>{{users}}</h3>
                            <p class="m-0">Team Members</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-1">
                        <div class="card text-center p-3">
                            <h3><i data-feather="users"></i>{{attendances.length}}</h3>
                            <p class="m-0">Currently Check-in Members</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-1">
                        <div class="card text-center p-3">
                            <h3><i data-feather="log-in"></i>{{slots}}</h3>
                            <p class="m-0">All Slots</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-1">
                        <div class="card text-center p-3">
                            <h3><i data-feather="log-in"></i>{{slots_used}}</h3>
                            <p class="m-0">Slots Assigned</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-1">
                        <div class="card text-center p-3">
                            <h3><i data-feather="log-in"></i>{{slots - slots_used}}</h3>
                            <p class="m-0">Slots Left</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-1">
                        <div class="card text-center p-3">
                            <h3><i data-feather="calendar"></i> {{expire_at}}</h3>
                            <p class="m-0">Expiring</p>
                        </div>
                    </div>
                </div>


                <div class="page-content">

                <div class="mt-5">
            <div class="text-center">
            <h5>CURRENT ACTIVITIES</h5>
            </div>
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Active Check-In (10)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reservations (15)</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="table-responsive">
                            <table class="table mt-4">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>SPACE</th>
                                        <th>TEAM MEMBER</th>
                                        <th>HOST</th>
                                        <th>CHECK-IN DATE/TIME</th>
                                        <th>TIME LEFT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dedicated Desk</td>
                                        <td>Bosun Jones (Personal)</td>
                                        <td>WorkStation NG</td>
                                        <td>July 20, 2021  - 10:00am</td>
                                        <td>08 Hour(s) 00 Min(s) Used</td>
                                    </tr>
                                    <tr>
                                        <td>Dedicated Desk</td>
                                        <td>Bosun Jones (Personal)</td>
                                        <td>WorkStation NG</td>
                                        <td>July 20, 2021  - 10:00am</td>
                                        <td>08 Hour(s) 00 Min(s) Used</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="no-activity p-5">
                                <img src="/img/no-activity.svg"/>
                                <p class="mt-2">Nothing is going on here.</p>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-primary">View All Attendance <i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>SPACE</th>
                                        <th>TEAM MEMBER</th>
                                        <th>HOST</th>
                                        <th>RESERVATION STARTED</th>
                                        <th>RESERVATION ENDING</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dedicated Desk</td>
                                        <td>Bosun Jones (Personal)</td>
                                        <td>WorkStation NG</td>
                                        <td>July 20, 2021  - 10:00am</td>
                                        <td>July 20, 2021  - 10:30am</td>
                                    </tr>
                                    <tr>
                                        <td>Dedicated Desk</td>
                                        <td>Bosun Jones (Personal)</td>
                                        <td>WorkStation NG</td>
                                        <td>July 20, 2021  - 10:00am</td>
                                        <td>July 20, 2021  - 10:30am</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="no-activity p-5">
                                <img src="/img/no-activity.svg"/>
                                <p class="mt-2">Nothing is going on here.</p>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-primary">View All Attendance <i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="card activity-box">
                <div class="card-header">
                    NEWLY ACTIVATED MEMBERS
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                            <table class="table mt-4">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>USER</th>
                                        <th>ROLE IN TEAM</th>
                                        <th>EMAIL</th>
                                        <th>PHONE NUMBER</th>
                                        <th>DATE ACTIVATED</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in new_users">
                                        <td>
                                            <div class="media align-items-center">
                                                <div>
                                                    <div class="avatar-parent-child">
                                                        <img alt="Image placeholder" :src="row.photo_url" class="avatar  rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="media-body ml-4">
                                                    <a href="#" class="name h6 mb-0 text-sm">{{row.name}}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{row.occupation}}</td>
                                        <td>{{row.email}}</td>
                                        <td>{{row.phone}}</td>
                                        <td>{{row.created_at}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>

            <hr>

            <div class="card activity-box">
                <div class="card-header">
                    MEMBERS PENDING INVITATION
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                            <table class="table mt-4">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>USER</th>
                                        <th>ROLE IN TEAM</th>
                                        <th>EMAIL</th>
                                        <th>PHONE NUMBER</th>
                                        <th>DATE ACTIVATED</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dedicated Desk</td>
                                        <td>Bosun Jones (Personal)</td>
                                        <td>WorkStation NG</td>
                                        <td>July 20, 2021  - 10:00am</td>
                                        <td>08 Hour(s) 00 Min(s) Used</td>
                                    </tr>
                                    <tr>
                                        <td>Dedicated Desk</td>
                                        <td>Bosun Jones (Personal)</td>
                                        <td>WorkStation NG</td>
                                        <td>July 20, 2021  - 10:00am</td>
                                        <td>08 Hour(s) 00 Min(s) Used</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>


                    <div class="row">


                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header border-0 pb-0">
                                    <div class="text-center">
                                        <div>
                                            <h6 class="mb-0">Currently Checked-In</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <a href="#" class="avatar rounded-circle avatar-lg hover-translate-y-n3">
                                        <img v-if="user.photo_url" :src="user.photo_url">
                                    </a>
                                    <h5 class="h6 my-4"><a href="#">Team Members</a></h5>
                                    <div class="avatar-group hover-avatar-ungroup mb-3" v-if="attendances.length > 0">
                                        <a v-for="row in attendances" href="#" class="avatar rounded-circle avatar-sm">
                                            <img :src="row.user.photo_url">
                                        </a>
                                    </div>
                                    <span class="clearfix"></span>
                                    <span class="badge badge-pill badge-success">{{attendances.length}} Active Members</span>
                                </div>
                                <div class="card-footer">
                                    <div class="actions d-flex justify-content-center px-4">
                                        <nuxt-link to="/team/attendances" class="action-item">
                                            View All
                                        </nuxt-link>
                                    </div>
                                </div>
                            </div>  
                        </div>



                        <div class="col-lg-6">
                            <div class="card" style="height:368px !important">

                                <div class="card-header">
                                    <div class="text-center">
                                        <div>
                                            <h6 class="mb-0">Team Space Reservation</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group list-group-flush" style="overflow:scroll">

                                    <div class="list-group-item" v-for="row in reservations">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <a href="#" class="avatar rounded-circle">
                                                    <img alt="Image placeholder" :src="row.user.photo_url">
                                                </a>
                                            </div>
                                            <div class="col ml-n2">
                                                <a href="#!" class="d-block h6 mb-0">{{row.space.name}}</a>
                                                <div>
                                                    <small>{{row.location.name}}</small><br>
                                                    <small>{{row.location.adress}}</small><br>
                                                    <small>{{row.start_at}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="actions d-flex justify-content-center px-4">
                                            <nuxt-link to="/team/attendances" class="action-item">
                                                View All
                                            </nuxt-link>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="text-center">
                                <div>
                                    <h6 class="mb-0">Newly Activated Members</h6>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table align-items-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Date Activated</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in new_users">
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div>
                                                    <div class="avatar-parent-child">
                                                        <img alt="Image placeholder" :src="row.photo_url" class="avatar  rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="media-body ml-4">
                                                    <a href="#" class="name h6 mb-0 text-sm">{{row.name}}</a>
                                                    <small class="d-block font-weight-bold">#{{row.status}}</small>
                                                </div>
                                            </div>
                                        </th>
                                        <td>{{row.email}}</td>
                                        <td>{{row.occupation}}</td>
                                        <td>{{row.phone}}</td>
                                        <td>{{row.created_at}}</td>
                                        <td class="text-right">

                                            <div class="actions ml-3">
                                                <nuxt-link :to="`/team/users/${row.id}/profile`" class="btn btn-primary">View</nuxt-link>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card" v-if="invitations.length > 0">
                        <div class="card-header">
                            <div class="text-center">
                                <div>
                                    <h6 class="mb-0">Pending Invitations</h6>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table align-items-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Date Invited</th>
                                        <th scope="col">Invitation Code</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in invitations">
                                        <td>{{row.email}}</td>
                                        <td>{{row.created_at}}</td>
                                        <td>{{row.code}}</td>
                                        <td>{{row.status}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';

    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                users: 0,
                checked_in: 0,
                slots: 0,
                slots_used: 0,
                slots_left: 0,
                subscription: null,
                expire_at: '--',
                attendances: [],
                reservations: [],
                new_users: [],
                invitations: [],
                user: {}
            }
        },

        async mounted(){

            try{

                this.updateApp({ active: 'dashboard', title: 'Dashboard', 'description': 'Your Dashboard', button: 'Add a Team Mate', button_url: '/team/users', button_icon: 'plus' });

                let message = this.$route.query.message;
                this.user = this.$auth.user;

                if(message){

                    this.$swal.fire({type: 'success', title: 'Complete', text: message });
                }

                let response = await this.$axios.$get('/team/dashboard');

                let data = response.data;

                this.users                  = data.users;
                this.checked_in             = data.active_attendances.length;
                this.slots                  = 0;
                this.slots_used             = 0;
                this.slots_left             = this.slots - this.slots_used;
                this.subscription           = data.subscription;
                this.attendances            = data.active_attendances;
                this.reservations           = data.active_reservations;
                this.new_users              = data.new_users;
                this.invitations            = data.invitations;
                this.loading                = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;

            }

        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),
        }

    }
</script>