<template>
	<div class="card">
		<div class="card-body" style="padding:0">

			<loading v-if="loading" />

			<section class="damier-grey">
				<div class="container d-flex flex-column packages">
					<div class="row align-items-center justify-content-center min-vh-100">
						
						<div class="col-md-8 col-lg-8 col-xl-8 py-6 py-md-0">

							<div class="mb-5 text-center">
								<h6 class="h3 mb-1">Select a Package for your Team</h6>
								<p class="text-muted mb-0">Select the most suitable package for you.</p>
							</div>

							<span class=clearfix></span>

							<div id="accordion" class="accordion accordion-stacked packages" v-if="!loading">

								<div class="card" v-for="row in packages" :key="row.id">
									<div class="card-header d-flex py-4 collapsed" data-toggle="collapse" role="button" :data-target="'#collapse-'+row.id" aria-expanded="false" :aria-controls="'collapse-'+row.id">
										<h6 class="font-weight-700 mb-0">{{row.name}}</h6>
										<span class="text-muted text-sm ml-auto pr-5 d-none d-md-block" v-if="subscribed && package_id == row.id">
											<span class="badge badge-primary">Currently Subscribed - (Expiry Date: {{subscription_end_at}})</span>
										</span>
									</div>
									<div :id="'collapse-'+row.id" class="collapse" data-parent="#accordion">
										<div class="card-body">

											<table class="tabletable table-responsive-hover">
												<tbody>
													<tr v-for="amenity in row.amenities_names" :key="amenity">
														<td>{{amenity}}</td>
														<td class="text-right">YES</td>
													</tr>
												</tbody>
											</table>

											<div class="py-4">
												<form class="d-flex justify-content-between">
													<div v-if="!subscribed && package_id != row.id">
														<button type="button" v-on:click="open(row.id)" class="btn btn-fill">Subscribe</button>
													</div>
													<div>
														<p class="text-dark"><strong>Note:</strong> All packages last for 30 days.</p>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</template>

<script>

	import { mapMutations } from 'vuex';
	import { _error } from '~/plugins/helper';

	export default {

		layout: 'user',

		data(){

			return {

				loading: true,
				packages: [],
				subscribed: false,
				subscription_end_at: null,
				package_id: 0
			}
		},

		async mounted(){

			try{

				this.updateApp({ active: 'packages', title: 'Packages', 'description': 'View all avaliable packages' });

				let response = await this.$axios.$get('/generic/packages/team');

				this.packages = response.data;
				this.loading = false;

				let user = this.$auth.user;

				if(user.subscription_status == 'active'){

					this.package_id = user.subscription.package_id;
					this.subscribed = true;
					this.subscription_end_at = user.subscription.end_at;
				}

			}catch(ex){

				this.$swal.fire(_error(ex, true));
				this.loading = false;
			}
		},

		methods: {

			...mapMutations({updateApp : 'app/updateApp'}),

			async open(id = 0){

				this.$router.push(`/user/cart?id=${id}`);
			},
		}
	}

</script>