<template>

    <div class="card">
        <loading v-if="loading" />

        <div class="card-body" v-else>
            
            <div class="row" v-if="reviews.length < 1">

                <div class="add-location">
                    <ul>
                        <li>
                            <i class="fas fa-list-alt fa-2x"></i>
                        </li>
                        <li  class="mt-3">
                            <p>When you create reviews on spaces, you can see them here.</p>
                        </li>
                    </ul>
                </div>

            </div>

            <table class="table table-responsive-hover table table-responsive-inverse" v-else>
                <thead>
                    <tr>
                        <th>USER</th>
                        <th>SPACE</th>
                        <th>REVIEW DATE</th>
                        <th>YOUR RATING</th>
                        <th>REVIEW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in reviews" :key="row.id">
                        <td>{{row.user}}</td>
                        <td>
                            <nuxt-link :to="'/user/space/'+row.space.id+'#reviews'">
                                <strong>
                                    {{row.space.name}} <i class="fas fa-external-link-alt"></i>
                                </strong>
                            </nuxt-link>
                        </td>
                        <td>{{row.created_at}}</td>
                        <td>
                            <ul>
                                <li class="d-inline">{{row.rating}}/5</li>
                                <li class="d-inline"> <i class="fas fa-star rating-star"></i></li>
                            </ul>
                        </td>
                        <td>{{row.review}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';
    
    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                reviews: []
            }
        },

        async mounted(){

            try{

                this.updateApp({ active: 'reviews', title: 'Reviews', 'description': 'View all your reviews' });

                let response = await this.$axios.$get('/team/reviews');

                this.reviews = response.data;
                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),
        }
    }

</script>
