<template>
    <div class="card">
        <div class="card-body animated fadeIn">

        <loading v-if="loading" />
        
        <div class="row" v-if="attendance.id && !loading">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header border-0">
                        <h6 class="mb-0">Details</h6>
                    </div>
                    <div>
                        <table class="tablemb-0">
                            <tbody>
                                <tr>
                                    <td><span class="h6 text-sm">LOGIN CODE:</span></td>
                                    <td class="text-right">{{attendance.reference}}</td>
                                </tr>
                                <tr>
                                    <td><span class="h6 text-sm">Space:</span></td>
                                    <td class="text-right">{{attendance.space.name}}</td>
                                </tr>
                                <tr>
                                    <td><span class="h6 text-sm">CHECKIN AT:</span></td>
                                    <td class="text-right">{{attendance.start_at}}</td>
                                </tr>
                                <tr>
                                    <td><span class="h6 text-sm">CHECKOUT AT:</span></td>
                                    <td class="text-right">{{attendance.end_at}}</td>
                                </tr>
                                <tr>
                                    <td><span class="h6 text-sm">TOTAL TIME SPENT:</span></td>
                                    <td class="text-right">{{attendance.time_used}}</td>
                                </tr>
                                <tr>
                                    <td><span class="h6 text-sm">LOCATION ADDRESS:</span></td>
                                    <td class="text-right">{{attendance.location.address}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header border-0">
                        <h6 class="mb-0">Host Details</h6>
                    </div>
                    <div class="table table-responsive">
                        <table class="tablemb-0">
                            <tbody>
                                <tr>
                                    <td>Host Name:</td>
                                    <td>{{attendance.host.name}}</td>
                                </tr>
                                <tr>
                                    <td>Host Phone:</td>
                                    <td>{{attendance.host.phone}}</td>
                                </tr>
                                <tr>
                                    <td>Location:</td>
                                    <td>{{attendance.location.name}}</td>
                                </tr>
                                <tr>
                                    <td>Approved By:</td>
                                    <td>{{attendance.approver.name}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-4">Resolve an issue</h6>
                        <dl class="row mb-0 align-items-center">
                            <dt class="col-sm-3 h6 text-sm">Call:</dt>
                            <dd class="col-sm-9 text-sm">+234 809 876 5432</dd>
                            <dt class="col-sm-3 h6 text-sm">Email:</dt>
                            <dd class="col-sm-9 text-sm">info@damierattendances.com</dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    </div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';

    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                attendance: {}
            }
        },
        
        async created(){

            try{

                let response = await this.$axios.$get(`/user/attendance/${this.$route.query.id}`);

                if(response.status == 'Failed')
                    return this.$swal.fire(_error(response, true));

                this.attendance = response.data;

                this.updateApp({ active: 'attendance', title: this.attendance.reference, description: this.attendance.space.name });

                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),
        }
    }

</script>