<template>
    <div class="card">
        <div class="card-body row">

            <loading v-if="loading" />
            
            <div class="col-lg-4 order-lg-2" v-if="!loading">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item active">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="stretched-link h5 mb-1">Payment Summary</h4>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="media">
                                <i class="fa fa-credit-card"></i>
                                <div class="media-body ml-3">
                                    <p class="stretched-link h6 mb-1">Payment for</p>
                                    <p class="mb-0 text-sm">{{package.name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="media">
                                <i class="fa fa-money-bill"></i>
                                <div class="media-body ml-3">
                                    <p class="stretched-link h6 mb-1">Amount</p>
                                    <p class="mb-0 text-sm">{{package.formatted_amount}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="media">
                                <i class="fa fa-home"></i>
                                <div class="media-body ml-3">
                                    <p class="stretched-link h6 mb-1">Slots Eligible</p>
                                    <p class="mb-0 text-sm">{{package.total_slots}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="media">
                                <i class="fa fa-calendar-alt"></i>
                                <div class="media-body ml-3">
                                    <p class="stretched-link h6 mb-1">Duration</p>
                                    <p class="mb-0 text-sm">{{package.duration.toUpperCase()}}</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-8 order-lg-1" v-if="!loading">
                <div class="card">
                    <div class="card-header">
                        <p class="mb-0">Payment for:</p>
                        <h5 class="h4 mb-0 damier-color">{{package.name}}</h5>
                    </div>
                    <div class="card-body packages">
                        <table class="tabletable table-responsive-hover">
                            <tbody>
                                <tr v-for="row in package.amenities_names" :key="row.id">
                                    <td>{{row}}</td>
                                    <td class="text-right">YES</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <p class="h6 small">Note: All packages last for 30 days.</p>
                        <hr>
                        <form>
                            <!-- <h3>Payment Details</h3>
                            <br>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">How Many Months?</label>
                                        <input class="form-control" type="number" v-model="quantity">
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h4>Total: {{(package.amount * quantity).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')}}</h4>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mt-4">
                                <button type="button" v-on:click="subscribe" class="btn btn-fill save-space">Continue to Payment</button>
                                <nuxt-link to="/user/packages" class="btn btn-outline">Cancel Order</nuxt-link>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';
    
    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                package: {
                    duration: '',
                    amenities_names: []
                },
                quantity: 1
            }
        },

        async mounted(){

            try{

                this.updateApp({ active: 'packages', title: 'Cart', description: 'Subscribe to a Package' });

                let response = await this.$axios.$get(`/generic/package/${this.$route.query.id}`);

                if(response.status == 'Failed')
                    return this.$swal.fire(_error(response, true));

                this.package = response.data;
                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),

            async subscribe(){

                try{

                    let response = await this.$axios.$post('/user/subscription/create', {package_id: this.package.id, quantity: this.quantity } );

                    if(response.status == 'Successful')
                        window.location = response.data.payment_url;

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                }
            }
        }
    }

</script>