<template>
  <div class="card">
  
    <div class="card-body">
<loading v-if="loading" />
    <div v-else>
      <div class="row" v-if="subscription_status == 'inactive'">
        <div class="col">
          <div class="currently-checked-in">
            <h6>You are not currently checked in.</h6>
            <div class="note text-center">
              <i class="fas fa-braille fa-2x"></i>
              <p>
                You are not subscribed to any <br />
                package at the moment.Please <br />
                subscribe to start booking.
              </p>
              <nuxt-link to="/user/packages" class="btn btn-sm btn-outline"
                >Subscribe Now</nuxt-link
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="currently-checked-in last-checked-in">
            <h6>You are not currently checked in.</h6>

            <div class="note text-center">
              <i class="fas fa-braille fa-2x"></i>
              <p>
                You are not subscribed to any <br />
                package at the moment.Please <br />
                subscribe to start booking.
              </p>
              <nuxt-link to="/user/packages" class="btn btn-sm btn-fill"
                >Subscribe Now</nuxt-link
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row" v-else>
        <div class="col-lg-6" v-if="attendance">
          <div class="dash-check">
            <h6>You are currently checked in at:</h6>
            <div class="check-dash">
              <div class="row">
                <div class="col-lg-4">
                  <div class="img-holder">
                    <img :src="attendance.space.photo_url" />
                  </div>
                </div>
                <div class="col-lg-8">
                  <h4>{{ attendance.space.name }}</h4>
                  <ul>
                    <li><strong>Host:</strong> {{ attendance.host.name }}</li>
                    <li>
                      <strong>Location:</strong>
                      {{ attendance.location.address }}
                    </li>
                    <li>
                      <strong>Checked-In:</strong> {{ attendance.start_at }}
                    </li>
                    <li>
                      <strong>Checked-Out:</strong> {{ attendance.end_at }}
                    </li>
                    <li>
                      <strong>Login Code</strong> {{ attendance.reference }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-fill"
              data-toggle="modal"
              data-target="#check-out"
            >
              Check-Out Now
            </button>
          </div>
        </div>

        <div class="col-lg-6" v-if="previous_attendance">
          <div class="dash-check last-check">
            <h6>Your last check-in was at:</h6>
            <div class="check-dash">
              <div class="row">
                <div class="col-lg-4">
                  <div class="img-holder">
                    <img :src="previous_attendance.space.photo_url" />
                  </div>
                </div>
                <div class="col-lg-8">
                  <h4>{{ previous_attendance.space.name }}</h4>
                  <ul>
                    <li>
                      <strong>Host:</strong> {{ previous_attendance.host.name }}
                    </li>
                    <li>
                      <strong>Location:</strong>
                      {{ previous_attendance.location.address }}
                    </li>
                    <li>
                      <strong>Checked-In:</strong>
                      {{ previous_attendance.start_at }}
                    </li>
                    <li>
                      <strong>Checked-Out:</strong>
                      {{ previous_attendance.end_at }}
                    </li>
                    <li>
                      <strong>Login Code:</strong>
                      {{ previous_attendance.reference }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <nuxt-link to="/user/attendances" class="btn btn-outline"
              >View all check-in Histories</nuxt-link
            >
          </div>
        </div>
      </div>

      <div
        class="dash-header"
        style="border: 0 !important; margin-top: 0 !important"
        v-if="nearby_spaces.length > 0"
      >

  </div>

      <div class="card activity-box">
        <div class="card-header">
          Current Activity: <strong>RESERVATION</strong>
        </div>
        <div class="card-body">
          <div class="checked-in reservation-active">
            <div class="row no-gutters">
              <div class="col-md-4">
              <div class="activity-img">
                <img src="/img/activity-placeholder.jpg" alt="...">
                </div>
                
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title mb-2 primary-color2">Dedicated Desk</h5>
                  <p class="card-text mb-1"><strong>Host:</strong> Workstation NG</p>
                  <p class="card-text mb-1"><strong>Location:</strong> Maryland Mall, Lagos</p>
                  <p class="card-text mb-1"><strong>Checked-In:</strong> 2</p>
                  <p class="card-text mb-1"><strong>Space Max Capacity:</strong> 2</p>
                  <p class="card-text mb-1"><strong>Reserved At:</strong> May 5th, 2020 (11:00 PM)</p>
                  <p class="card-text mb-1"><strong>Reservation Expiry:</strong> May 5th, 2020 (11:30 PM)</p>
                  <div class="mt-4">
                    <a href="#" class="btn btn-primary bg-primary-color2">Check-In Now</a>
                    <a href="#" class="btn btn-outline-primary">Cancel Reservation</a>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="reservation-time">
                <i class="fas fa-clock fa-lg"></i>
                  <p class="mb-0">TIME LEFT</p>
                  <h6 class="mb-0">28m 20s left</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card activity-box">
        <div class="card-header">
          Current Activity: <strong>CHECKED-IN</strong>
        </div>
        <div class="card-body">
          <div class="checked-in">
            <div class="row no-gutters">
              <div class="col-md-4">
              <div class="activity-img">
                <img src="/img/activity-placeholder.jpg" alt="...">
                </div>
                
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title mb-2 primary-color2">Dedicated Desk</h5>
                  <p class="card-text mb-1"><strong>Host:</strong> Workstation NG</p>
                  <p class="card-text mb-1"><strong>Location:</strong> Maryland Mall, Lagos</p>
                  <p class="card-text mb-1"><strong>Checked-In:</strong> 2</p>
                  <p class="card-text mb-1"><strong>Space Max Capacity:</strong> May 5th, 2020 (11:58 PM)</p>
                  <p class="card-text mb-1"><strong>Checked-Out:</strong> ---</p>
                  <p class="card-text mb-1"><strong>OTP CODE:</strong> AJ29844</p>
                  <div class="mt-4">
                    <a href="#" class="btn btn-primary bg-primary-color2">Check-Out Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card activity-box">
        <div class="card-header">
          Current Activity:  <strong>NO ACTIVITY</strong>
        </div>
        <div class="card-body">
          <div class="no-activity p-5">
            <img src="/img/no-activity.svg"/>
            <p class="mt-2">Nothing is going on here.</p>
          </div>
        </div>
      </div>

      <div class="search_by_location_form ">
        <form action="#" class="d-flex w-100 justify-content-center align-items-center">
          <p class="mb-0">Current Location:</p>
          <select name="state" class="select_input" id="state">
            <option value="lagos">Lagos</option>
            <option value="ogun">Ogun</option>
            <option value="osun">Osun</option>
          </select>

          <select name="city" class="select_input" id="city">
            <option value="ikeja">Ikeja</option>
            <option value="lekki">Lekki</option>
          </select>

          <select name="city" class="select_input" id="city">
            <option value="ikeja">My Package</option>
            <option value="lekki">All Packages</option>
          </select>

          <button class="btn btn-primary bg-primary-color2">Update</button>
          <span>|</span>
          <div class="d-flex text-primary">
            <i class="far fa-globe"></i> <i class="fas fa-map-marker-alt mr-2"></i> Switch to All Locations
          </div>
        </form>
      </div>

      <hr>

        <div class="row">
          <div class="col-lg-9 pt-2">
            <h6>SPACES IN <span class="primary-color">"IKEJA, LAGOS"</span></h6>
          </div>
          <div class="col-lg-3 text-right mb-3">
            <nuxt-link to="/user/spaces" class="btn btn-fill"
              >View All Spaces</nuxt-link
            >
          </div>
        </div>
      </div>

      <div class="swiper-container dash-spaces" v-if="nearby_spaces.length > 0">
        <div class="swiper-wrapper">
          <space
            v-for="row in nearby_spaces"
            :space="row"
            :key="row.id"
            :col="4"
          />
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-buttons swiper-button-prev"><i data-feather="chevron-right"></i></div>
        <div class="swiper-buttons swiper-button-next"><i data-feather="chevron-left"></i></div>
      </div>

      <hr>

      <div
        class="dash-header"
        style="border: 0 !important; margin-top: 0 !important"
        v-if="featured_spaces.length > 0"
      >
        <div class="row">
          <div class="col-lg-9 pt-2">
            <h6>FEATURED SPACES</h6>
          </div>
          <div class="col-lg-3 text-right">
            <nuxt-link to="/user/spaces" class="btn btn-fill"
              >View All Spaces</nuxt-link
            >
          </div>
        </div>
      </div>

      <div class="row dash-spaces" v-if="featured_spaces.length > 0">
        <space
          v-for="row in featured_spaces"
          :space="row"
          :key="row.id"
          :col="4"
        />
      </div>

      <div
        class="modal fade"
        id="check-out"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
        v-if="attendance"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Check-Out Process</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="modal-content-info">
                <img src="/img/warning.svg" />
                <h5 class="damier-color"><strong>Login Code</strong></h5>
                <h3>{{ attendance.reference }}</h3>
                <p>
                  Your Email address is:<br /><span class="text-dark">{{
                    email
                  }}</span>
                </p>
                <p>
                  Give the code to the attendant to complete your check-out
                  process. See you soon!
                </p>
                <button
                  type="button"
                  class="btn btn-fill save-unsave"
                  data-dismiss="modal"
                  aria-hidden="true"
                >
                  Done
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error } from "~/plugins/helper";

export default {
  layout: "user",

  data() {
    return {
      loading: true,
      attendance: null,
      previous_attendance: null,
      subscription: null,
      subscription_status: null,
      email: null,
      nearby_spaces: [],
      featured_spaces: [],
    };
  },

  async mounted() {
    try {
      this.updateApp({
        active: "dashboard",
        title: "Dashboard",
        description: "Your Dashboard",
        button: "Search for Spaces",
        button_url: "/user/spaces",
        button_icon: "search",
      });

      let message = this.$route.query.message;

      if (message) {
        this.$swal.fire({ type: "success", title: "Complete", text: message });
      }

      let response = await this.$axios.$get("/user/dashboard");

      let data = response.data;

      this.attendance = data.attendance;
      this.previous_attendance = data.previous_attendance;
      this.subscription = data.subscription;
      this.nearby_spaces = data.nearby_spaces;
      this.featured_spaces = data.featured_spaces;
      this.subscription_status = this.$auth.user.subscription_status;
      this.email = this.$auth.user.email;

      this.loading = false;
    } catch (ex) {
      this.$swal.fire(_error(ex, true));
      this.loading = false;
    }
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),
  },
};
</script>