<template>

    <div class="card">
        <div class="card-body">
<loading v-if="loading" />
        <div  v-else>

            <div class="form-group">
                <label class="form-control-label">Full Name: </label>
                <input type="text" class="form-control" placeholder="Name" v-model="name">
            </div>

            <div class="form-group">
                <label class="form-control-label">Email Address: </label>
                <input type="email" class="form-control" placeholder="email" v-model="email" disabled>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="form-control-label">Sex: *</label>
                    <select class="form-control" v-model="sex">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label">Phone: * </label>
                    <input type="text" class="form-control" placeholder="" v-model="occupation">
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">Occupation: * </label>
                <input type="number" class="form-control" placeholder="e.g: Web Developer" v-model="phone">
            </div>

            <div class="form-group">
                <label class="form-control-label">Country: * </label>
                <input type="number" class="form-control" placeholder="Phone" v-model="phone">
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="form-control-label">State: *</label>
                    <select class="form-control" v-model="sex">
                        <option value="male">Lagos</option>
                        <option value="female">Abuja</option>
                    </select>
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label">City: * </label>
                    <input type="text" class="form-control" placeholder="" v-model="occupation">
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">Address: </label>
                <textarea class="form-control" placeholder="Address" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label class="form-control-label">Phone: </label>
                <input type="number" class="form-control" placeholder="Phone" v-model="phone">
            </div>

            <div class="form-group">
                <label class="form-control-label">Address: </label>
                <input type="text" class="form-control" placeholder="Phone" v-model="phone">
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="form-control-label">Occupation: </label>
                    <input type="text" class="form-control" placeholder="Occupation" v-model="occupation">
                </div>

                <div class="form-group col-6">
                    <label class="form-control-label">Sex: </label>
                    <select class="form-control" v-model="sex">
                        <option value="male">Male</option>
                        <option value="female">Femail</option>
                    </select>
                </div>
            </div>

            <div class="form-group">

                <label class="form-control-label">Upload a Photo</label><br>
                <button type="button" class="btn btn-outline" @click="upload" v-if="photo_url.length < 1" :disabled="uploading">
                    <span><i class="fa fa-image"></i> {{upload_text}}</span>
                </button>

                <button type="button" class="btn btn-outline" @click="upload" v-if="photo_url.length > 1" :disabled="uploading">
                    <span>Change File</span>
                </button><br>

                <code v-if="photo_url.length > 0">(<a :href="photo_url" target="_blank">{{photo_url}}</a>)</code>

            </div>

            <button type="button" class="btn btn-fill w-100" v-on:click="update">Save Changes</button>

            <p class="text-center mt-3">What to change your password? <a :href="password_url">Click here.</a></p>
        </div>
    </div>
    </div>

</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error, _cloudinary_settings, _website_url } from '~/plugins/helper';
    
    export default {

        layout: 'user',

        head: {

            script: [{ src: 'https://widget.cloudinary.com/v2.0/global/all.js'}]
        },

        data(){

            return {

                loading: true,
                name: '',
                email: '',
                phone: '',
                address:'',
                occupation:'',
                sex:'',
                photo_url: '',
                upload_text: 'Upload Image',
                uploading: false,
                password_url: ''
            }
        },

        async mounted(){

            try{

                let user = this.$auth.user;
                this.name = user.name;
                this.email = user.email;
                this.phone = user.phone;
                this.address = user.address;
                this.occupation = user.occupation;
                this.sex = user.sex;
                this.password_url = `${_website_url}/change-password`;

                this.updateApp({ active: 'profile', title: this.name, 'description': 'Profile' });
                this.loading = false;

            }catch(error){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),

            async update(){

                try{

                    await this.$axios.$post('/auth/profile', {

                        name: this.name,
                        email: this.email,
                        phone: this.phone,
                        address: this.address,
                        occupation: this.occupation,
                        sex: this.sex,

                    });

                    this.$auth.fetchUser();

                    this.$swal.fire({ type: 'success', title: 'Updated', text: 'Profile successfully saved.' });

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                }
            },

            async upload(){

                this.upload_text = 'Loading...';
                this.uploading = true;

                const widget = cloudinary.createUploadWidget({..._cloudinary_settings}, async (error, result) => {

                    if(!error && result && result.event === 'success'){

                        await this.$axios.$post('/auth/profile', { photo_url: result.info.secure_url });
                        this.$auth.fetchUser();
                        this.upload_text = 'File uploaded successfully.';
                    }
                });

                widget.open();
            }
        }
    }

</script>