<template>
  <div class="card">
    <div class="card-body">
    <loading v-if="loading" />
    <div v-else>
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >All Spaces ({{ spaces.length }})</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Saved Spaces ({{ saved.length }})</a
          >
        </li>
      </ul>

      <div class="tab-content" id="default-tab">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="input-group mb-5">
            <input
              type="text"
              class="form-control"
              placeholder="Search Spaces"
              v-model="query"
            />
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-search"></i></div>
            </div>
          </div>

          <p v-if="query.length > 0" class="text-uppercase">
            SPACES IN <strong class="text-primary">“{{ query }}”</strong>
          </p>

          <div class="dash-spaces">
            <div class="row" v-if="spaces.length < 1 && query.length == 0">
              <div class="add-location">
                <ul>
                  <li>
                    <i class="fas fa-list-alt fa-2x"></i>
                  </li>
                  <li class="mt-3">
                    <p>
                      You will see list of spaces to browse on damier spaces
                      here. But currently there are not avaliable spaces.
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div v-else>
              <div class="search_by_location_form ">
                <form action="#" class="d-flex w-100 justify-content-center align-items-center">
                  <p class="mb-0">Current Location:</p>
                  <select name="state" class="select_input" id="state">
                    <option value="lagos">Lagos</option>
                    <option value="ogun">Ogun</option>
                    <option value="osun">Osun</option>
                  </select>

                  <select name="city" class="select_input" id="city">
                    <option value="ikeja">Ikeja</option>
                    <option value="lekki">Lekki</option>
                  </select>

                  <select name="city" class="select_input" id="city">
                    <option value="ikeja">My Package</option>
                    <option value="lekki">All Packages</option>
                  </select>

                  <button class="btn btn-primary bg-primary-color2">Update</button>
                  <span>|</span>
                  <div class="d-flex text-primary">
                    <i class="far fa-globe"></i> <i class="fas fa-map-marker-alt mr-2"></i> Switch to All Locations
                  </div>
                </form>
              </div>
              <div class="row">
                <space
                  v-for="(row, index) in searchSpaces(spaces, query)"
                  :space="row"
                  :col="4"
                  :key="row.id"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="dash-spaces">
            <div class="row" v-if="saved.length < 1">
              <div class="add-location">
                <ul>
                  <li>
                    <i class="fas fa-list-alt fa-2x"></i>
                  </li>
                  <li class="mt-3">
                    <p>When you save spaces, you can see them here.</p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row" v-else>
              <space v-for="row in saved" :space="row" :col="4" :key="row.id" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { _error } from "~/plugins/helper";

export default {
  layout: "user",

  data() {
    return {
      loading: true,
      spaces: [],
      saved: [],
      query: "",
    };
  },

  async mounted() {
    try {
      this.updateApp({
        active: "spaces",
        title: "Spaces",
        description: "Manage all Spaces",
      });

      let response = await this.$axios.$get("/user/spaces");

      this.spaces = response.data;

      response = await this.$axios.$get("/user/spaces/saved");

      this.saved = response.data;
      this.loading = false;
    } catch (ex) {
      this.$swal.fire(_error(ex, true));
      this.loading = false;
    }
  },

  methods: {
    ...mapMutations({ updateApp: "app/updateApp" }),

    searchSpaces(spaces, query) {
      query = query.toLowerCase();

      if (query.length < 3) return spaces;

      return spaces.filter((row) => {
        return row.name.toLowerCase().includes(query);
      });
    },
  },
};
</script>