<template>

    <div class="card">
        <div class="card-body">
<loading v-if="loading" />
        <div  v-else>
            
            <div class="row" v-if="subscriptions.length < 1">

                <div class="add-location">
                    <ul>
                        <li>
                            <i class="fas fa-list-alt fa-2x"></i>
                        </li>
                        <li  class="mt-3">
                            <p>When you buy subscriptions, you can see your transactions here.</p>
                        </li>
                    </ul>
                </div>

            </div>

            <table class="table table-responsive-hover table table-responsive-inverse" v-else>
                <thead>
                    <tr>
                        <th>PACKAGE</th>
                        <th>START DATE</th>
                        <th>END DATE</th>
                        <th>STATUS</th>
                        <th>AMOUNT PAID</th>
                        <th>DATE PAID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in subscriptions" :key="row.id">
                        <td>{{row.package}}</td>
                        <td>{{row.start_at}}</td>
                        <td>{{row.end_at}}</td>
                        <td>{{row.status}}</td>
                        <td>{{row.total}}</td>
                        <td>{{row.created_at}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    </div>

</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';
    
    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                subscriptions: []
            }
        },

        async mounted(){

            try{

                this.updateApp({ active: 'subscriptions', title: 'subscriptions', 'description': 'View all your subscriptions' });

                let response = await this.$axios.$get('/user/subscriptions');

                this.subscriptions = response.data.subscriptions;
                this.loading = false;

            }catch(ex){

                this.$swal.fire(_error(ex, true));
                this.loading = false;
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),
        }
    }

</script>
