<template>

  <div class="row">
    <div class="col-lg-4 col-sm-4" v-for="row in users">
      <div class="card hover-shadow-lg">
        <div class="card-body text-center">
          <div class="avatar-parent-child">
            <img alt="Image placeholder" :src="row.photo_url" class="avatar  rounded-circle avatar-lg">
          </div>
          <h5 class="h6 mt-4 mb-0">{{row.name}}</h5>
          <a href="#" class="d-block text-sm text-muted mb-3">{{row.occupation ? row.occupation : '--'}}</a>
          <hr>
          <div class="actions d-flex justify-content-center px-4">
            <ul>
              <li><span class="text-dark">Email:<br></span> <a href="javascript:;">{{row.email}}</a></li>
              <li><span class="text-dark">Phone:<br></span> <a href="javascript:;">{{row.phone}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>   

  </div>

</template>

<script>

  import { mapMutations } from 'vuex';
  import { _error } from '~/plugins/helper';

  export default {

    layout: 'user',

    data(){

      return {

        loading: true,
        users: []
      }
    },

    async mounted(){

      try{

        this.updateApp({ active: 'team', title: 'Team', 'description': 'Team Members' });

        let response = await this.$axios.$get('/user/team');

        this.users = response.data;
        this.loading = false;

      }catch(ex){

        this.$swal.fire(_error(ex, true));
        this.loading = false;
      }
    },

    methods: {

      ...mapMutations({updateApp : 'app/updateApp'})
    }
  }

</script>