<template>
    <div class="card">
        <div class="card-header actions-toolbar border-0">

            <loading v-if="loading" />

            <div class="container" v-else>
                <div class="text-center">
                    <p class="text-muted mb-30">Please enter your team member's email address separated by comma.</p>
                </div>

                <span class="badge badge-primary"><strong>Max Team Users:</strong> {{package.max_team_users}} - {{package.name}}</span>


                <form>
                    <div class="form-group">
                        <label class="form-control-label">Email Address(es):</label>
                        <input v-model="emails" :disabled="loading" type="email" class="form-control form-control-prepend" placeholder="e.g: bosun@email.com, sarah@email.com, jane@email.com">
                    </div>
                    <div class="mt-4">
                        <button :disabled="loading" v-on:click="submit" type="button" class="btn btn-primary">Invite</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';

    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                emails: '',
                package: {max_team_users: 0},
                users_count: 0
            }
        },


        async mounted(){

            this.updateApp({ active: 'users', title: 'Invite Team Members', 'description': 'Invite Team Members' });

            try{

                let response = await this.$axios.$get(`/team/invite/subscription`);

                if(response.status == 'Failed')
                    return this.$swal.fire(_error(response, true));

                let data = response.data;

                if(data.subscription)
                    this.package = data.subscription.package;

                this.users_count = data.users.length;
                this.loading = false;

            }catch(ex){

                this.loading = false;

                this.$swal.fire(_error(ex, true));
            }
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),

            async submit(){

                try{

                    this.loading = true;

                    let response = await this.$axios.$post('/team/invite/email', {emails: this.emails});

                    if(response.status == 'Failed')
                        return this.$swal.fire(_error(response, true));

                    this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });

                    this.$router.push('/team/users');
                    this.loading = false;

                }catch(ex){

                    this.loading = false;

                    this.$swal.fire(_error(ex, true));
                }

            }
        }
    }

</script>