<template>

  <div class="page-content">

    <loading v-if="loading" />

    <div class="page-title" v-if="!loading">

      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
          <div class="d-inline-block">
            <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">{{user.name}}</h5>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
          <div class="actions actions-dark d-inline-block">
            <nuxt-link :to="`/team/users/${user.id}/slots`" class="action-item ml-md-4">
              <i class="fa fa-file-export mr-2"></i>Manage Slots
            </nuxt-link>
            <a href="javascript:;" v-if="user.status == 'active'" v-on:click="suspend" class="action-item ml-3">
              <i class="fa fa-ban mr-2"></i>Suspend
            </a>
            <a href="javascript:;" v-else v-on:click="suspend" class="action-item ml-3">
              <i class="fa fa-check mr-2"></i>Enable
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="!loading">
      <div class="col-lg-6">

        <div class="card card-fluid">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-auto">

                <a href="#" class="avatar rounded-circle">
                  <img :src="user.photo_url" class="">
                </a>
              </div>
              <div class="col ml-md-n2">
                <span class="badge badge-success">{{user.checkin_status}}</span>
                <span class="badge badge-danger" v-if="user.status == 'inactive'">{{user.status}}</span>
                <span class="badge badge-info" v-else>{{user.status}}</span>
                <a href="javascript:;" class="d-block h6 mb-0">{{user.name}}</a>
                <small class="d-block text-muted">{{user.occupation}}</small>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-4 text-center">
                <span class="h5 mb-0">{{user.slots_left}}</span>
                <span class="d-block text-sm">Slots Left</span>
              </div>
              <div class="col-4 text-center">
                <span class="h5 mb-0">{{user.total_attendances}}</span>
                <span class="d-block text-sm">Total Check-Ins</span>
              </div>
              <div class="col-4 text-center">
                <span class="h5 mb-0">{{user.total_reservations}}</span>
                <span class="d-block text-sm">Total Reservation</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card card-fluid">
          <div class="card-header">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item"><strong>User Name:</strong></li>
              <li class="list-group-item">Bosun Jones</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item"><strong>Email Address:</strong></li>
              <li class="list-group-item">bosunjones@iflux.com</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item"><strong>Phone Number:</strong></li>
              <li class="list-group-item">08098765432</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item"><strong>Role in Team:</strong></li>
              <li class="list-group-item">Frontend Developer</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item"><strong>Date Activated:</strong></li>
              <li class="list-group-item">July 20, 2021</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4" v-if="user.last_attendance">

        <div class="card card-fluid">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col ml-md-n2">
                <a href="#!" class="d-block h6 mb-0">Last Checked-In at</a>
                <small class="d-block text-muted">{{user.last_attendance.space.name}}</small>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0"><i class="fa fa-home mr-2"></i>Host:</h6>
              </div>
              <div class="col-auto">
                <span class="text-sm">{{user.last_attendance.host.name}}</span>
              </div>
            </div>
            <hr class="my-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0"><i class="fa fa-map-pin mr-2"></i>Location:</h6>
              </div>
              <div class="col-auto">
                <span class="text-sm">{{user.last_attendance.location.name}}</span>
              </div>
            </div>
            <hr class="my-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0"><i class="fa fa-clock mr-2"></i>In:</h6>
              </div>
              <div class="col-auto">
                <span class="text-sm">{{user.last_attendance.start_at}}</span>
              </div>
            </div>
            <hr class="my-3">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0"><i class="fa fa-clock mr-2"></i>Out:</h6>
              </div>
              <div class="col-auto">
                <span class="text-sm">{{user.last_attendance.end_at}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="!loading">
      <div class="col-xl-12">
        <div class="card card-fluid">
          <div class="card-header border-0">
            <h6 class="mb-0 h4">Recent Activities</h6>
          </div>

          <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Check-In/Check-Out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reservations</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="table-responsive">
                <table class="table align-items-center">
                  <thead>
                    <tr>
                      <th scope="col" class="sort" data-sort="budget">Space</th>
                      <th scope="col" class="sort" data-sort="status">Space Host</th>
                      <th scope="col" class="sort" data-sort="completion">Location</th>
                      <th scope="col" class="sort" data-sort="completion">Check-In</th>
                      <th scope="col" class="sort" data-sort="completion">Check-Out</th>
                      <th scope="col" class="sort" data-sort="completion">Status</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr v-for="row in user.recent_attendances">
                      <td class="budget">{{row.space.name}}</td>
                      <td class="budget">{{row.host.name}}</td>
                      <td class="budget">{{row.location.name}}</td>
                      <td class="budget">{{row.start_at}}</td>
                      <td class="budget">{{row.end_at}}</td>
                      <td class="budget">{{row.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="table-responsive">
                <table class="table align-items-center">
                  <thead>
                    <tr>
                      <th scope="col" class="sort" data-sort="budget">Space</th>
                      <th scope="col" class="sort" data-sort="status">Space Host</th>
                      <th scope="col" class="sort" data-sort="completion">Location</th>
                      <th scope="col" class="sort" data-sort="completion">Reserved</th>
                      <th scope="col" class="sort" data-sort="completion">End Date</th>
                      <th scope="col" class="sort" data-sort="completion">Status</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr v-for="row in user.recent_reservations">
                      <td class="budget">{{row.space.name}}</td>
                      <td class="budget">{{row.host.name}}</td>
                      <td class="budget">{{row.location.name}}</td>
                      <td class="budget">{{row.start_at}}</td>
                      <td class="budget">{{row.end_at}}</td>
                      <td class="budget">{{row.status}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <br><br>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

  import { mapMutations } from 'vuex';
  import { _error } from '~/plugins/helper';

  export default {

    layout: 'user',

    data(){

      return {

        loading: true,
        user: {id : 0}
      }
    },


    async mounted(){

      this.updateApp({ active: 'users', title: null, 'description': null });

      try{

        let response = await this.$axios.$get(`/team/user/${this.$route.params.id}`);

        if(response.status == 'Failed')
          return this.$swal.fire(_error(response, true));

        this.user = response.data;

        this.loading = false;

      }catch(ex){

        this.loading = false;

        this.$swal.fire(_error(ex, true));
      }
    },

    methods: {

      ...mapMutations({updateApp : 'app/updateApp'}),

      async suspend(){

        try{

          this.$swal.fire({

            title: `Are you sure you want to suspend ${this.user.name}?`,
            text: `${this.user.name} will not be able to login to damier spaces.`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: `Yes`

          }).then(async (result) => {

            if (result.value)
              this.executeSuspend();
          })

        }catch(ex){

          this.$swal.fire(_error(ex, true));
        }
      },


      async executeSuspend(){

        try{

          this.loading = true;

          let response = await this.$axios.$get(`/team/user-status/${this.user.id}`);

          if(response.status == 'Failed')
            return this.$swal.fire(_error(response, true));

          this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });

          this.user.status = response.data;
          this.loading = false;

        }catch(ex){

          this.loading = false;

          this.$swal.fire(_error(ex, true));
        }

      }
    }
  }

</script>