<template>

  <div class="row" v-if="!loading">
    <div class="col-lg-8">

      <div class="card card-fluid">
        <div class="card-body text-center">
          <div class="avatar-parent-child text-center">
            <img alt="Image placeholder" :src="user.photo_url" class="avatar  rounded-circle avatar-lg">
            <span class="avatar-child avatar-badge bg-success" data-toggle="tooltip" data-placement="top" title="Active"></span>
          </div>
          <h5 class="h4 mt-4 mb-0">{{user.name}}</h5>
          <p>Role In Team: XYZ</p>
          <a href="javascript:;" class="d-block text-sm text-muted mb-3">{{user.occupation}}</a>
          <span class="badge damier-dark damier-bugundy">{{user.slots}} {{user.slots > 1 ? 'SLOTS' : 'SLOT'}}</span>
          <div class="text-center incrementor">
            <div class="input-group">
              <span class="input-group-btn">
                <button v-on:click="decreaseSlots" type="button" class="quantity-left-minus btn  btn-number mr-2"  data-type="minus" data-field="">
                  <span class="glyphicon glyphicon-minus">-</span>
                </button>
              </span>
              <input type="number" class="form-control input-number" v-model="slots">
              <span class="input-group-btn">
                <button v-on:click="increaseSlots" type="button" class="quantity-right-plus btn-number ml-2" data-type="plus">
                  <span class="glyphicon glyphicon-plus">+</span>
                </button>
              </span>
            </div>
          </div>
          <button v-on:click="updateSlots" type="button" class="btn btn-fill updated">Update Slot<i class="fas fa-check pl-2"></i></button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">

      <div class="card card-fluid">
        <div class="card-header text-center">
          <div class="row align-items-center">
            <div class="col ml-md-n2">
              <span class="d-block damier-dark mb-0">Total Team Slot</span>
              <p class="d-block h3 primary-color2"><strong>{{user.team.slots}}</strong></p>
            </div>
          </div>
        </div>

        <div class="card-header text-center">
          <div class=" align-items-center">
            <div>
              <span class="d-block damier-dark mb-0">Total Assigned</span>
            </div>
            <div>
              <p class="d-block h3 primary-color2"><strong>{{user.team.slots_assigned}}</strong></p>
            </div>
          </div>
        </div>

        <div class="card-header text-center">
          <div class=" align-items-center">
            <div>
              <span class="d-block damier-dark mb-0">Slots Used</span>
            </div>
            <div>
              <p class="d-block h3 primary-color2"><strong>{{user.team.slots_used}}</strong></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>

  import { mapMutations } from 'vuex';
  import { _error } from '~/plugins/helper';

  export default {

    layout: 'user',

    data(){

      return {

        loading: true,
        user: {id : 0},
        slots: 0
      }
    },


    async mounted(){

      this.init();
    },

    methods: {

      ...mapMutations({updateApp : 'app/updateApp'}),

      async init(){

        this.updateApp({ active: 'users', title: null, 'description': null });

        try{

          let response = await this.$axios.$get(`/team/user/${this.$route.params.id}`);

          if(response.status == 'Failed')
            return this.$swal.fire(_error(response, true));

          this.user = response.data;
          this.slots = this.user.slots;

          this.loading = false;

        }catch(ex){

          this.loading = false;

          this.$swal.fire(_error(ex, true));
        }
      },


      async suspend(){

        try{

          this.$swal.fire({

            title: `Are you sure you want to suspend ${this.user.name}?`,
            text: `${this.user.name} will not be able to login to damier spaces.`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: `Yes`

          }).then(async (result) => {

            if (result.value)
              this.executeSuspend();
          })

        }catch(ex){

          this.$swal.fire(_error(ex, true));
        }
      },


      async executeSuspend(){

        try{

          this.loading = true;

          let response = await this.$axios.$get(`/team/user-status/${this.user.id}`);

          if(response.status == 'Failed')
            return this.$swal.fire(_error(response, true));

          this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });

          this.user.status = response.data;
          this.loading = false;

        }catch(ex){

          this.loading = false;

          this.$swal.fire(_error(ex, true));
        }

      },

      increaseSlots(){

        this.slots += 1;
      },

      decreaseSlots(){

        this.slots -= 1;
      },

      async updateSlots(){

        try{

          this.loading = true;

          let response = await this.$axios.$post(`/team/user-update-slots`, {user_id: this.user.id, slots: this.slots});

          if(response.status == 'Failed')
            return this.$swal.fire(_error(response, true));

          this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });

          this.init();
          
          this.loading = false;

        }catch(ex){

          this.loading = false;

          this.$swal.fire(_error(ex, true));
        }

      }

    }
  }

</script>