<template>

  <div class="container-fluid container-application">

    <div :class="['sidenav', sidebar ? 'show' : '']">

      <div class="sidenav-header d-flex align-items-center">
        <a :href="website_url" class="navbar-brand" >
          <img src="/img/brand/white.png" class="navbar-brand-img" alt="Damier Spaces">
        </a>
        <div class="ml-auto">

          <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main" v-on:click="toogleSidebar">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">

        <div>
          <a href="#" class="avatar rounded-circle avatar-xl">
            <img :alt="name" :src="photo_url">
          </a>

          <div class="mt-4" v-if="type == 'user'">
            <h5 class="mb-0 text-white">{{name}}</h5>
            <span class="d-block text-sm text-white opacity-8 mb-3">User Account</span>
            <!--<span class="d-block text-sm text-white opacity-8 mb-3">{{email}}</span>-->
            <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
              <span class="btn-inner--icon"><i class="fas fa-layer-group"></i></span>
              <nuxt-link to="/user/packages" class="btn-inner--text" v-if="subscription_status == 'inactive'">Subscribe Now</nuxt-link>
              <span class="btn-inner--text text-muted" v-else>Subscribed </span>
            </a>
          </div>

          <div class="mt-4" v-if="type == 'host'">
            <h5 class="mb-0 text-white">{{name}}</h5>
            <span class="d-block text-sm text-white opacity-8 mb-3">{{spaces_count}} Spaces / {{locations_count}} Locations</span>
            <span class="d-block text-sm text-white opacity-8 mb-3">Host Account</span>
            <nuxt-link to="/host/locations" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
              <span class="btn-inner--icon btn-outline-primary"><i class="fas fa-map-marker-alt"></i></span>
              <span class="btn-inner--text">{{host_name}}</span>
            </nuxt-link>
          </div>

          <div class="mt-4" v-if="type == 'team_admin'">
            <h5 class="mb-0 text-white">{{name}}</h5>
            <span class="d-block text-sm text-white opacity-8 mb-3">{{email}}</span>
            <span class="d-block text-sm text-white opacity-8 mb-3">Team Admin</span>
            <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
              <span class="btn-inner--icon"><i class="fas fa-layer-group"></i></span>
              <nuxt-link to="/team/packages" class="btn-inner--text" v-if="subscription_status == 'inactive'">Subscribe Now</nuxt-link>
              <span class="btn-inner--text text-muted" v-else>Subscribed </span>
            </a>
          </div>

        </div>

        <div class="user-side-info" style="width:100%" v-if="type != 'host'">
          <div class="row">
            <div class="col-6">
              <ul>
                <li>
                  <span>Slots left</span>
                </li>
                <li>
                  <small>{{slots}}</small>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul>
                <!-- <li>
                  <span v-if="subscription_end_date">Expires</span>
                  <span v-else>Expired</span>
                </li>
                <li>
                  <small>{{subscription_end_date}}</small>
                </li> -->

                <li>
                  <span >Expires</span>
                </li>
                <li>
                  <small v-if="subscription_end_date">{{subscription_end_date}}</small>
                  <small v-else>No subscription</small>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <userNav v-if="type == 'user'" :active="active" :type="type"  :team_id="team_id" />
      <hostNav v-if="type == 'host'" :active="active" :type="type" />
      <teamNav v-if="type == 'team_admin'" :active="active" :type="type" />

    </div>

    <div class="main-content position-relative">

      <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border" id="navbar-main">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-user d-lg-none ml-auto">
            <ul class="navbar-nav flex-row align-items-center">

              <li class="nav-item">
                <a href="#" class="nav-link nav-link-icon sidenav-toggler active" data-action="sidenav-pin" data-target="#sidenav-main" v-on:click="toogleSidebar">
                  <i class="fa fa-bars"></i>
                </a>
              </li>

              <li class="nav-item" v-if="type == 'user'">
                <nuxt-link to="/user/spaces" class="nav-link nav-link-icon active">
                  <i class="fa fa-search"></i>
                </nuxt-link>
              </li>

              <li class="nav-item dropdown dropdown-animate">

                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="/img/web-dev.png">
                  </span>
                </a>

                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow mobile-drop">
                  <h6 class="dropdown-header px-0">Hi, Bosun!</h6>
                  <a href="../users/profile.html" class="dropdown-item">
                    <i class="fa fa-user"></i>
                    <span>My profile</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="../users/login.html" class="dropdown-item">
                    <i class="fa fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>

          <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">

            <userNavmin v-if="type == 'user'" :active="active" />
            <hostNavmin v-if="type == 'host'" :active="active" />
            <teamNavmin v-if="type == 'team_admin'" :active="active" />

            <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">

              <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main" v-on:click="toogleSidebar">
                  <i class="fa fa-bars"></i>
                </a>
              </li>

              <li class="nav-item" v-if="type == 'user'">
                <nuxt-link to="/user/spaces" class="nav-link nav-link-icon">
                  <i class="fa fa-search"></i>
                </nuxt-link>
              </li>

              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media media-pill align-items-center">
                    <span class="avatar rounded-circle">
                      <img :alt="name" :src="photo_url">
                    </span>
                    <div class="ml-2 d-none d-lg-block">
                      <span class="mb-0 text-sm  font-weight-bold">{{name}}</span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                  <nuxt-link to="/user/profile" class="dropdown-item" v-if="type == 'user'">
                    <i class="fa fa-user"></i>
                    <span>My profile</span>
                  </nuxt-link>
                  <nuxt-link to="/host/profile" class="dropdown-item" v-if="type == 'host'">
                    <i class="fa fa-user"></i>
                    <span>My profile</span>
                  </nuxt-link>
                  <div class="dropdown-divider"></div>
                  <nuxt-link to="/logout" class="dropdown-item">
                    <i class="fa fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </nuxt-link>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </nav>

      <div class="page-content">

        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">

              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">{{title}}</h5>
                <p class="text-white"><small>{{description}}</small></p>
              </div>

            </div>

            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end" v-if="button">
              <div class="actions actions-dark d-inline-block">
                <nuxt-link :to="button_url" class="action-item ml-3">{{button}}</nuxt-link>
              </div>
              <nuxt-link :to="button_url" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4">
                <span class="btn-inner--icon"><i class="fa" :class="'fa-'+button_icon" ></i></span>
              </nuxt-link>
            </div>

          </div>
        </div>

        <div class="row">

          <div class="col-lg-12 order-lg-1">

            <nuxt />

            <div class="footer pt-5 pb-4 footer-light" id="footer-main">
              <div class="row text-center text-sm-left align-items-sm-center">
                <div class="col-sm-6">
                  <p class="text-sm mb-0">&copy; 2020 <a href="https://damierspaces.com/" class="h6 text-sm" target="_blank">Damier Spaces</a>. All rights reserved.</p>
                </div>
                <div class="col-sm-6 mb-md-0">
                  <ul class="nav justify-content-center justify-content-md-end">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Support</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Terms</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pr-0" href="#">Privacy</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

  import { mapMutations } from 'vuex';
  import { _error, _website_url } from '~/plugins/helper';

  export default {

    computed: {

      active(){

        return this.$store.state.app.app.active;
      },

      title(){

        return this.$store.state.app.app.title;
      },

      description(){

        return this.$store.state.app.app.description;
      },

      button(){

        return this.$store.state.app.app.button;
      },

      button_url(){

        return this.$store.state.app.app.button_url;
      },

      button_icon(){

        return this.$store.state.app.app.button_icon;
      },

      sidebar(){

        return this.$store.state.app.app.sidebar;
      }

    },

    data(){

      return {

        type: 'user',
        team_id: 0,
        name : 'Damier User',
        first_name : 'Damier',
        email: 'user@damier.com',
        photo_url: '',
        slots: 0,
        subscription_status: 'inactive',
        subscription_end_date: '',
        website_url: _website_url,

        host_phone : '',
        host_name: '',
        spaces_count: 0,
        locations_count: 0
      }
    },

    async mounted(){

      try{

        await this.$auth.fetchUser();
        
        this.componentData();

        setInterval(() => {

          this.componentData();

        }, 1000 * 10);

        this.updateApp({button: null, button_url: null });

      }catch(ex){

        this.$swal.fire(_error(ex, true));

      }

    },

    methods: {

      ...mapMutations({updateApp : 'app/updateApp'}),

      componentData(){

        if(!this.$auth.loggedIn)
          return;

        let user = this.$auth.user;
        this.type = user.type;
        this.team_id = user.team_id;

        this.name = user.name;
        this.email = user.email;
        this.phone = user.phone;
        this.photo_url = user.photo_url;
        this.slots = user.slots_left;
        this.subscription_status = user.subscription_status;

        if(user.subscription && user.subscription.end_at)
          this.subscription_end_date = user.subscription.end_at.substring(0, 10);

        if(this.type == 'host'){

          this.host_phone = user.host.phone;
          this.host_name = user.host.name;
          this.spaces_count = user.host.spaces_count;
          this.locations_count = user.host.locations_count;
        }

      },

      toogleSidebar(){

        this.updateApp({sidebar: !this.sidebar });
      }
    }

  }
</script>