<template>
    <div class="d-flex mx-auto flex-column">

        <main>
            <div class="loader-holder loader_wrapper"  style="height:100vh;  background-color: #850901">
                <div class="loader white">Loading...</div>
            </div>
            
        </main>
        
    </div>
</template>

<script>

    import { _website_url } from '~/plugins/helper';

    export default {

        head: {

            bodyAttrs: {
                class: 'loading-page d-flex mx-auto flex-column'
            }
        },

        data(){

            return {

                login_url: ''
            }
        },

        async created(){

            try{

                this.login_url = `${_website_url}/auth/login`;

                let api_token = this.$route.query.api_token;

                if(!api_token)
                    window.location = this.login_url;

                await this.$auth.loginWith('local', {

                    data: { api_token }
                });

                this.dashboard();

            }catch(error){

                window.location = `${this.login_url}?message=${error.response.data.message}`;
            }

        },

        methods: {

            dashboard(){

                if(this.$auth.user.type == 'host')
                    return this.$router.push('/host');

                if(this.$auth.user.type == 'team_admin')
                    return this.$router.push('/team');

                return this.$router.push('/user');

            }
        }

    }

</script>