<template></template>
<script>

	import { _website_url } from '~/plugins/helper';

	export default {

		async mounted(){
			
			try{

				let response = await this.$axios.$get(`/auth/logout/${this.$auth.user.api_token}`);

				await this.$auth.logout();
				this.$axios.setHeader('Authorization', null);
				
				window.location = response.data.url;

			}catch(error){

				window.location = `${_website_url}/auth/login`;
			}
		}
	}
</script>