<template>

    <div class="card">
        <loading v-if="loading" />

        <div class="row animated fadeIn" v-if="space.id && !loading">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">

                        <h5 class="h4">{{space.name}}</h5>
                        <h6 class="text-sm">{{space.location.name}} - {{space.location.address}}</h6>

                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <ul>
                                    <li class="d-inline"><span class="space-rating">{{space.ratings_average}} <i class="fas fa-star"></i></span></li>
                                    <li class="d-inline"><a href="#reviews">- {{space.reviews_count}} Reviews</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 text-sm-right">

                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                       <button type="button" v-on:click="saveSpace" class="btn btn-sm btn-outline" v-if="!space.saved">
                                        <i class="fa fa-heart"></i> Save Space
                                    </button>
                                    <button type="button" v-on:click="saveSpace" class="btn btn-sm btn-outline" v-else>
                                        <i class="fa fa-times"></i> Unsave Space
                                    </button>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="py-4 my-4 border-top border-bottom">
                        <h6 class="text-sm">Description:</h6>
                        <p class="text-sm mb-0">{{space.description}}</p>
                    </div>

                    <div class="my-4 border-bottom space-amenities">
                        <h6 class="text-sm">Amenities:</h6>
                        <ul>
                            <li v-for="row in space.amenities" :key="row.id">
                                <img :src="row.icon" :alt="row.name" v-if="row.icon"> {{row.name}}
                            </li>
                        </ul>
                    </div>

                    <hr>


                    <div class="my-4 border-bottom space-amenities">
                        <h6 class="text-sm">Location on Map:</h6>
                        <iframe :src="`https://maps.google.com/maps?q='${space.location.latitude}','${space.location.longitude}'&hl=es&z=14&amp;output=embed&zoom=24`" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                    <div class="my-4 border-bottom space-amenities" id="reviews">
                        <h6 class="text-sm border-bottom pb-2 mb-4 mt-5">Reviews:</h6>

                        <div class="review-comment" v-for="row in space.reviews" :key="row.id">
                            <div class="top-part">
                                <div class="img-holder">
                                    <img :src="row.user.photo_url" alt="">
                                </div>
                                <div class="name-star">
                                    <h5>{{row.user.name}}</h5>
                                    <ul>
                                        <li class="d-inline"><span class="space-rating">{{row.rating}}.0 <i class="fas fa-star"></i></span> - Rated</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="comments-review">
                                <p>{{row.review}}</p>
                            </div>
                        </div>

                        <h5>Leave a Review</h5>
                        <div >
                            <div class="card-body review-rating">
                                <p class="text-center mb-2">Your Ratings:</p>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-secondary" v-on:click="updateRating(1)">
                                        <input type="radio" name="options" id="option1" :value="0" v-model="rating"><br>1 Star
                                    </label>
                                    <label class="btn btn-secondary" v-on:click="updateRating(2)">
                                        <input type="radio" name="options" id="option2" :value="1" v-model="rating"><br>2 Stars
                                    </label>
                                    <label class="btn btn-secondary" v-on:click="updateRating(3)">
                                        <input type="radio" name="options" id="option3" :value="2" v-model="rating"><br>3 Stars
                                    </label>
                                    <label class="btn btn-secondary" v-on:click="updateRating(4)">
                                        <input type="radio" name="options" id="option4" :value="3" v-model="rating"><br>4 Stars
                                    </label>
                                    <label class="btn btn-secondary" v-on:click="updateRating(5)">
                                        <input type="radio" name="options" id="option5" :value="4" v-model="rating"><br>5 Stars
                                    </label>
                                </div>
                            </div>
                            <form action="">
                                <h6>Your Comments:</h6>
                                <div class="form-group">
                                    <textarea name="" id="input" class="form-control" rows="5" placeholder="Let us know what you think..." v-model="review"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="button" v-on:click="saveReview" class="btn btn-fill">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-6 mb-4 mb-sm-0">
                            <span class="d-block h5 mb-0">You have {{slots}} more slots</span>
                            <a href="#" class="text-sm" v-if="slots > 0">You can Check-In to this space</a>
                            <a href="#" class="text-sm" v-else>You can not Check-In to this space</a>
                        </div>
                        <div class="col-sm-6 text-sm-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-fill mr-2" v-if="slots > 0" v-on:click="attendanceToken">CheckIn</button>
                                <button type="button" v-on:click="reserveSpace" class="btn btn-sm btn-outline" v-if="!space.reservation">Reserve</button>
                                <button type="button" class="btn btn-sm btn-outline disabled" disabled v-else>Reserved</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body space-gallery">

                    <a href="javascript:;" v-on:click="lightBox(space.photo_url)" data-fancybox="product">
                        <img :src="space.photo_url" class="img-fluid">
                    </a>

                    <div class="row mt-4">

                        <div class="col-4" v-for="row in space.photos" :key="row.id">
                            <div class="p-3 border rounded">
                                <a href="javascript:;" v-on:click="lightBox(row.url)" class="stretched-link" data-fancybox="product">
                                    <img :src="row.url" class="img-fluid">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <vue-easy-lightbox :visible="image_visible" :imgs="image_url" @hide="handleHide" ></vue-easy-lightbox>

            </div>

            <div class="card">
                <div class="card-header border-0">
                    <h6 class="mb-0">Related Spaces</h6>
                </div>
                <div class="related-spaces">
                    <div class="card-body">

                        <space v-for="row in space.related" :space="row" :col="12" :key="row.id" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

    import { mapMutations } from 'vuex';
    import { _error } from '~/plugins/helper';

    export default {

        layout: 'user',

        data(){

            return {

                loading: true,
                space: {},
                slots: 0,
                rating: 1,
                review: '',
                image_url: null,
                image_visible: false
            }
        },

        async mounted(){

            this.loadSpace();
        },

        methods: {

            ...mapMutations({updateApp : 'app/updateApp'}),

            async loadSpace(){

                try{

                    await this.$auth.fetchUser();

                    let response = await this.$axios.$get(`/user/space/${this.$route.params.id}`);

                    if(response.status == 'Failed')
                        return this.$swal.fire(_error(response, true));

                    this.space = response.data;
                    this.slots = this.$auth.user.slots_left;

                    this.updateApp({ active: 'spaces', title: this.space.name, description: this.space.description });
                    this.loading = false;

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                    this.loading = false;
                }
            },

            async saveSpace(){

                try{

                    let response = await this.$axios.$get(`/user/space/${this.space.id}/save`);

                    if(response.status == 'Failed')
                        return this.$swal.fire(_error(response, true));

                    this.space.saved = response.data;

                    this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                }
            },

            async reserveSpace(){

                try{

                    this.$swal.fire({

                        title: `Are you sure you want to reserve this space?`,
                        text: 'Note that you can only reserve one space at a time',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: `Yes`

                    }).then(async (result) => {

                        if (result.value)
                            this.executeReserveSpace();
                    })

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                }
            },

            async executeReserveSpace(){

                try{

                    let response = await this.$axios.$post(`/user/reserve-space`, {space_id: this.space.id});

                    if(response.status == 'Failed')
                        return this.$swal.fire(_error(response, true));

                    this.space.reservation = response.data;

                    this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                }
            },

            async attendanceToken(){

                try{

                    let response = await this.$axios.$post(`/user/attendance/tokens/create`, {space_id : this.space.id});

                    if(response.status == 'Failed')
                        return this.$swal.fire(_error(response, true));

                    let message = `Checkin OTP is ${response.data.token}. Please provide this information to the front desk officer to authorize checkin.`;

                    this.$swal.fire({ type: 'success', title: 'Successful', text: message });

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                }
            },

            async saveReview(){

                try{

                    let response = await this.$axios.$post(`/user/space/${this.space.id}/review`, {rating : this.rating, review: this.review });

                    if(response.status == 'Failed')
                        return this.$swal.fire(_error(response, true));

                    this.$swal.fire({ type: 'success', title: 'Successful', text: response.message });

                    this.loadSpace();

                    this.rating = 1;
                    this.review = '';

                    document.getElementById('reviews').scrollIntoView();

                }catch(ex){

                    this.$swal.fire(_error(ex, true));
                }
            },

            updateRating(rating){

                this.rating = rating;
            },

            lightBox(url){

                this.image_url = url
                this.image_visible = true
            },

            handleHide() {

              this.image_visible = false
          }
      }
  }

</script>